[2015-02-06 00:50] wwwlicious opened #1 "Progress"
Hi Kevin,
Thought we should move our discussion here since this is what we are discussing.

I've gotten a bit further on today with generating the controller partial classes with support for inheritance and basic generics. Your changes made for testing look good but I'm not sure how to pull them into my fork as our approaches are slightly different.

[Take a look](https://github.com/wwwlicious/R4M

[2015-02-06 09:30] kevinkuszyk commented on #1
Thanks, I was going to suggest the same.

Apologies for reworking the project structure - I've spend the past couple of days trying to make it build on the [CI](https://ci.appveyor.com/project/T4MVC/r4mvc) server.  I thought there were some namespace issues with the `R4Mvc.Test` and `R4Mvc.Test.Site` projects, which is why I killed the `R4Mvc.Test.Site` and replaced it with `R4MvcHostApp` which is

[2015-02-06 11:34] kevinkuszyk opened #2 "SPIKE: How to do dependency injection?"
We need figure out how to do DI in R4MVC.

I think we can hook into the framework's DI container using the`IServiceProvider`.  Questions:
1. Is this possible and how to do it?
2. How / where do we register our dependencies?

[2015-02-06 11:41] kevinkuszyk opened #3 "SPIKE: How to unit test R4MVC?"
We need to figure out how to unit test R4MVC.

The entry point is currently a `CSharpCompilation`, but it may be more useful to use the `IBeforeCompileContext` instead.  Questions:
1. Which is the better choice for the entry point?
2. How to new up a fake `CSharpCompilation` or `IBeforeCompileContext` to invoke the generator?

[2015-02-06 11:43] kevinkuszyk opened #4 "Find the root namespace of the project hosting R4MVC"
We need to find the root namespace of the project hosting R4MVC.

At the moment is it hard coded [here](https://github.com/T4MVC/R4MVC/blob/master/src/R4Mvc/R4MvcGenerator.cs#L41).

[2015-02-06 11:45] kevinkuszyk opened #5 "Find the root folder on disk of the project hosting R4MVC"
We need to find where on disk the `project.json` file is for the project hosting R4MVC, so we write out our generated `.cs` files.

At the moment it is hard coded [here](https://github.com/T4MVC/R4MVC/blob/master/src/R4Mvc/R4MvcGenerator.cs#L47).

[2015-02-06 11:48] kevinkuszyk opened #6 "Make existing controllers into partial classes"
We need to make existing controllers into `partial`classes and make all the action methods `virtual`.

[2015-02-06 11:49] kevinkuszyk opened #7 "Generate partial controller classes"
We need to generate partial controller classes to hold the view and action name constants.

[2015-02-06 11:54] kevinkuszyk opened #8 "Generate derived controller classes"
We need to generate derived controller classes to use in the static `MVC` class.

[2015-02-06 11:59] kevinkuszyk opened #9 "Generate helper methods on generated partial controllers"
We need to generate some boilerplate helper methods on our generated partial controllers.

These are the methods added by T4MVC:

[code]

Do we need to keep the `[GeneratedCode("T4MVC", "2.0"), DebuggerNonUserCode]` attributes?

[2015-02-06 12:00] kevinkuszyk opened #10 "Generate overridden action methods on generated derived controllers"
We need to override the action methods on our derived controller classes.

[2015-02-06 12:02] kevinkuszyk opened #11 "Generate view name constants in generated partial controllers"
We need to generate the view name constants in our generated partial controllers.

[2015-02-06 12:03] kevinkuszyk opened #12 "Generate action name constants in generated partial controllers"
We need to generate the action name constants in our generated partial controller classes.

[2015-02-06 12:04] kevinkuszyk opened #13 "Generate Links.{xxx} constants"
We need to generate the `Links.Content`, `Links.Scripts` etc constants.

[2015-02-06 12:05] kevinkuszyk opened #14 "Support areas"
We need to add support for MVC areas.

[2015-02-06 12:23] kevinkuszyk opened #15 "DISCUSSION: What features from T4MVC should we support?"
T4MVC has many features, and some technical debt to overcome.

What features should be carry over to R4MVC?

The core features we plan to implement are:

1. [Referring to controller actions](https://github.com/T4MVC/T4MVC/wiki/Documentation#22-referring-to-controller-actions)
2. [Using View Name constants](https://github.com/T4MVC/T4MVC/wiki/Documentation#21-using-view-name-constants)
3. [Use cons

[2015-02-06 13:35] wwwlicious commented on #7
For modifying existing partial classes I used a ControllerRewriter with an override for VisitClassDeclaration

The classes are marked as partial [here](https://github.com/wwwlicious/R4MVC/blob/master/src/R4Mvc/ControllerRewriter.cs#L41)

Currently I rely on the semantic model to get the declaring type which in turn I use to determine if the class is an MVC controller class.

An issue with this is

[2015-02-06 13:48] wwwlicious commented on #5
Unfortunately the project object isn't on the interface for IBeforeCompileContext but is does exist via some casting against the Concrete type

    CompileContext context = ((CompileContext)context);
    var rootFolder = Path.GetDirectoryName(context?.Project.ProjectFilePath)

https://github.com/wwwlicious/R4MVC/blob/master/src/R4Mvc/R4MvcPreCompileModule.cs#L32

An alternative might be get the Fi

[2015-02-06 13:50] wwwlicious commented on #4
I think this might be available on every SyntaxTree but I can't test this at the moment, something like GetRootNamespace or GetLibraryNamespace

[2015-02-06 13:51] wwwlicious commented on #6
For modifying existing partial classes I used a ControllerRewriter with an override for VisitClassDeclaration

The classes are marked as partial [here](https://github.com/wwwlicious/R4MVC/blob/master/src/R4Mvc/ControllerRewriter.cs#L41)

Currently I rely on the semantic model to get the declaring type which in turn I use to determine if the class is an MVC controller class.

An issue with this is

[2015-02-06 13:57] wwwlicious commented on #7
I use the ControllerRewriter to help build a list of the Controller class SynxtaxNodes that I need to build
[Example here](https://github.com/wwwlicious/R4MVC/blob/master/src/R4Mvc/R4MvcPreCompileModule.cs#L39)

This outputs all the controller syntaxnode information which I can then pass to a generator and cycle through to generate each class and methods, derived class etc
[Example here](https://g

[2015-02-06 14:07] wwwlicious commented on #15
I think a r4mvc.json file for settings should be a v1 thing. I think there will continue to be a need for people to adjust aspects of the generated code from namespaces to locations.

I'm not up to speed on MVC5 changes yet but the addition of the wwwroot alone I would think might complicate choosing conventions to build things like the StaticFilesFolders

[2015-02-06 14:20] davidebbo commented on #15
While I probably won't have much time to help on this, I just want to say that you guys rock for driving this! :)

[2015-02-06 14:51] kevinkuszyk commented on #1
I think you're on the right lines on your fork, although it looks like you've hit one of the problems I did - which is the solution doesn't build.  Once I updated all the nuget packages that fixed it.  Try pulling the latest from this repro in to see if that makes it build.

I finished my brain dump earlier, and it looks like you've already made some progress on issues #4, #5, #6, and #7.  Let's m

[2015-02-06 14:58] wwwlicious commented on #1
I haven't had issues compiling my fork but could not compile yours, perhaps there is something in the kvm version we're running? I've had issues with VS CTP and the kvm caching compilation though preventing building even after the issues were fixed, restarting these usually resolved things.

I'll have a look at creating some tests tomorrow but I'm new to git pull requests, never done one so I apol

[2015-02-11 23:44] wwwlicious commented on #3
I see that you have switched to the IBeforeCompileContext already which I think this is the better choice as you get access to the target project from which you get the root namespace. Also useful for getting the project file etc.

I've been thinking about how to test without needing to write things to disk. I think the tests would be clearest by parsing strings of test code into SyntaxTree's then

[2015-02-12 20:42] kevinkuszyk commented on #3
Apparently, there is a problem with xUnit in VS 2015 CTP5.  See this [issue](https://github.com/aspnet/Testing/issues/65)

I had it working yesterday, but it's broken again today and I can't remember what I did yesterday.

I just tried this [workaround](https://github.com/aspnet/Testing/issues/65#issuecomment-73198145) and most of my intelisense is back:

![image](https://cloud.githubusercontent.c

[2015-02-12 20:52] kevinkuszyk commented on #1
It seems that upgrading the nuget packages to `beta4-*` broke compatibility with VS.  When I rolled everything back I was able to build my repro and yours. I've spent that past few days trying to get it to build om the build server too.

Don't worry.  Thanks for the first PR - I've had a quick look on GH and it looks good.  I'll try to merge in in tomorrow.

I typically use [GitHub Flow](https://g

[2015-02-12 21:49] wwwlicious commented on #1
Sounds good, I thought I would keep PR's small until I understand the workflow better and can get unit testing up and running to test some of the stuff I wrote.

[2015-02-13 17:23] kevinkuszyk commented on #1
Ok, so I forked your repro and ran the following git commands to get it into a state where it's synced up with my repro.  I'm by no means a git expert, so please make a backup of your local repro before trying this.  You can see the result [here](https://github.com/kevinkuszyk/R4MVC).  My objectives were:

1. Get your `master` in sync with mine.
2. Integrate your existing work in your `master` wit

[2015-02-13 20:16] wwwlicious commented on #1
thank you for taking the time for this. I followed the steps with one or two bumps but it really helped

[2015-02-14 11:17] wwwlicious commented on #3
I've still no luck with getting unit tests to run in VS. It looks like this [isn't supported yet](https://github.com/xunit/visualstudio.xunit/issues/41)
[MS Connect Bug](https://connect.microsoft.com/VisualStudio/feedback/details/1099770/test-explorer-does-not-discover-tests-in-project)

[2015-02-14 23:01] wwwlicious commented on #13
with the new wwwroot in vnext projects and the new grunt/gulp pipeline (this does away with bundles right?), I've not yet got my head around how this will work as they files may be relocated, merged and transpiled during the build process.

Any constants or statics links would have to be aware of these potential changes to hold the correct relative paths.

T4MVC handled this by telling users to ha

[2015-02-14 23:18] wwwlicious commented on #9
Yes, I think keeping the attributes helps for a couple of scenarios.

For coverage/inspections tooling, generatedCode is pretty common to ignore as gen'd code is normally pretty heinous in the formatting and fxcop/stylecop etc type standards
A side benefit, although so far I don't it's needed, is that the gencode attribute can be used to either filter out or specifically target R4MVC gen'd files/c

[2015-02-14 23:21] wwwlicious opened #19 "Create equivilent of T4MVCExtensions"
T4MVC uses a number of interfaces and classes which do not need to be generated in the target project such as IT4MVCActionResult.

Suggest following the same idea and create coreclr compatible versions of the following folder https://github.com/T4MVC/T4MVC/tree/master/T4MVCExtensions

[2015-02-14 23:23] wwwlicious commented on #2
I hadn't thought about using DI much yet, did you have anything specific in mind for this?

[2015-02-14 23:51] wwwlicious opened #20 "Settings and customisations"
So T4MVC uses an xml file, gen'd if it doesn't exist and otherwise left untouched between updates

I think a r4mvc.json file is probably the most natural vnext translation to hold some of the common settings like helper namespace and staticfile folders.

One other possibility to allow customisations/configuration is by providing either delegates or method overrides accessible in the R4MvcCompiler

[2015-02-15 00:38] wwwlicious opened #21 "Clientside action route generation"
Generate Typescript or Javascript class to allow client side generation of Action Urls and StaticContent links by expanding on the functionality of the Url.JavaScriptReplaceableUrl abilities of T4MVC to support fully-fledged client side MVC helpers functions.

more of a V2 wish at the moment though.

[2015-02-15 01:14] wwwlicious opened #22 "MVC View ActionLink DiagnosticAnalyzer"
Creation of a DiagnosticAnalyzer to look for instances of

[code]
 and suggest codefix to

[code]

[2015-02-15 01:17] wwwlicious opened #23 "Controller View("viewname") DiagnosticAnalyzer and codefix"
Create a diagnosticanalyzer to look for usages of

[code]

and codefix to replace with

[code]

[2015-02-15 18:26] wwwlicious opened #24 "Generate R4Helpers extensions for ActionLink"
As vNext now has an interface common for all actionresults, IActionResult, it shouldn't be required to have specific overloads for subtypes like ViewResult, JsonResult etc so it should result in far fewer extensions required.

https://github.com/T4MVC/T4MVC/blob/master/T4MVCExtensions/T4Extensions.cs#L13

[2015-02-15 18:35] wwwlicious commented on #12
Currently I've added all public methods from a controller class in my fork, not sure if it should only be those with return types containing IActionResult though, either directly or as part of generic typeparameters

[2015-02-16 09:03] kevinkuszyk commented on #12
We'll need to check how this works with methods which return other types, e.g. `IEnumerable<FooModel>`, now that WebAPI is integrated with MVC.

We should also exclude methods with the `[NonAction]` action attribute on them.

[2015-02-16 09:29] kevinkuszyk commented on #19
I was thinking we could just take a dependency on the `T4MVCExtensions` nuget package, rather than re-implementing it.

I hadn't considered we'd need a coreclr version though until just now.  How much work would be involved in making a coreclr version of  `T4MVCExtensions` do you think, vs just re-implementing it?

@davidebbo - do you have any thoughts on this?

[2015-02-16 10:14] wwwlicious commented on #19
a couple of thoughts on why it might be unavoidable to diverge from t4mvc.

the coreClr version of these classes are you mentioned being the first, another is that by including a reference of R4MVCCompilerModule in the target project you are already referencing the dll, this is different from t4mvc where the payload is some .tt and xml files.

The namespaces also use System.Web.Mvc, this is not Mi

[2015-02-16 10:26] wwwlicious commented on #12
Nonaction seems like a definite.

The tricky part with trying to filter controller methods is that with Mvc I could return simple types like strings, ints, bools and collections of them, it could also return void.

Currently it will pick up [all public ordinary methods](https://github.com/wwwlicious/R4MVC/blob/dev/src/R4Mvc/SyntaxHelpers.cs#L104) (this excludes ctor/dtor's)

I think there is some

[2015-02-16 16:44] kevinkuszyk commented on #12
Sorry - I misread your earlier comment - I thought you said you only include methods which return `IActionResult`.

I think all public methods, except those decorated with `[NonAction]` or `[R4MvcExclude]` is what we should go for.

[2015-02-16 17:32] davidebbo commented on #19
My take is that there are enough differences in the new world that you may indeed be better off starting clean of the the helper assembly. It's not all that much code, and it will yield something that just fits better.

[2015-02-16 19:17] kevinkuszyk commented on #19
I think that settles it then - we should re-implement for R4MVC.

[2015-02-16 20:07] kevinkuszyk commented on #23
Great idea!  I hadn't even started thinking about diagnostic analyzers yet!

[2015-02-16 20:18] kevinkuszyk commented on #20
I think a `r4mvc.json` file for settings make sense.  There is a new [configuration library](https://github.com/aspnet/Configuration) which we should consider using.

I'm not so sure about using delegates.  Did you have something in mind which would be difficult to store in a `.json` file?

[2015-02-16 20:24] kevinkuszyk commented on #2
Only that there is a new [dependency injection library](https://github.com/aspnet/DependencyInjection) and we should probably use that.

We'll need to decouple the code so it can be unit tested.  I'll try to flash out mockup this week of how I envisaged the services looking.  I'll be interested in your thoughts once I have something to share.

[2015-02-16 20:26] kevinkuszyk commented on #9
Good point.  Let's keep them in.

[2015-02-16 20:39] wwwlicious commented on #20
one discussion I saw on T4MVC mentioned the timestamping of scripts but off the top of my head...

1. changing the type to find for controllers, maybe you use your own controller class, maybe a framework other than mvc altogether.
2. swapping out the conventions or methods of viewdiscovery (things like feature folder or just your own viewengine, or spark, or nancy etc)
3. swapping out the conventi

[2015-02-16 20:46] kevinkuszyk commented on #13
I'm not 100% sure about this, but my understanding is that grunt will compile `.sass` for example to `.css` as part of the build process.  So there will always be a `site.css` on disk which is compiled from the `site.sass`.

I think we should still generate a `Links.Content.Site_css` and equivalent for `.js` files which can be used in views.

I think as long as we generate the correct relative url

[2015-02-16 20:52] kevinkuszyk commented on #3
Thanks for that - I hadn't realised that running tests in the IDE had been pulled for the CTP 5.  We'll just have to run them the old fashioned way from the command line for now.

On a positive note, my VS intelisense is working again without using any workarounds.

[2015-02-16 21:02] kevinkuszyk commented on #20
Yes, good point.

I was pondering some extensibility mechanism to allow users to replace the logic for finding controllers and views.  I hadn't thought about `IModelUnbinders`, virtual path providers, or static content yet, but they all make sense too.

I'd call this extensibility though, rather than config.  I can imagine a mechanism similar to the view engine registration in MVC, where users can

[2015-02-17 21:26] kevinkuszyk opened #26 "Generator is including too many controllers"
We seem to have a bug where the generator is including too many controllers.

I cleaned out the `R4Mvc.generated.cs` file and pushed it [here](https://github.com/T4MVC/R4MVC/blob/%2325-generator-is-incuding-too-many-controllers/src/R4MvcHostApp/R4Mvc.generated.cs), so you can see what is produced on my machine.

I don't think we were seeing this on the AppVeyor build before, but it is showing [now

[2015-02-17 21:28] kevinkuszyk opened #27 "Make AppVeyor build fail if build script fails"
We are getting false positives on the build sever.

[This build](https://ci.appveyor.com/project/T4MVC/r4mvc/build/47)  failed but it is showing green in AppVeyor.

[2015-02-17 21:31] wwwlicious commented on #26
I noticed this too but deleting the file and re-generating it seems to correct it. I'll try and figure out what is causing it.

[2015-02-17 21:34] kevinkuszyk opened #28 "Fix running unit tests on the build server"
We need to enable running unit tests on the build server.

I think we had some conflicts with the AppVeyor built in test test discovery and runner.  At the moment we are not running tests using `k test` or AppVeyor's built in test runner.

[2015-02-19 01:08] wwwlicious commented on #20
ok, I have been experimenting with using DI for extensibility. I've [commented on some of my thought processes] (https://github.com/wwwlicious/R4MVC/blob/adding_views_to_generated_file/src/R4MvcHostApp/Compiler/Preprocess/R4MvcCompiler.cs#L12) so feedback/corrections welcome :)

[2015-02-19 19:26] wwwlicious commented on #26
I've only had this happen locally a couple of times so can't reliably replicate it.

I suspect it is related to either the k runtime caching something (so I've tried to avoid initialising fields outwith the constructors) or to the preprocessor directives for ASPNETCORE not being available in appveyor.

It also doesn't help that the compilation is running twice for each framework. The first time is

[2015-02-23 22:22] wwwlicious commented on #13
I've been doing some experiments with generating the links constants.

I am going on the assumption that the static file locator will return an enumerable of static files, the important part of which is the uri which will be used to form the class nesting structure.

so /css/bootstrap/bootstrap.css will be accessible via Links.css.bootstrap.bootstrap_css

There are a few things that came up which

[2015-02-23 22:30] wwwlicious commented on #28
Have you had any luck getting this running?

If not maybe we should ask MS on this as it seems like a roadblock for us, they did say they would like to hear about any roadblocks we encountered?

[2015-02-24 08:57] #26 closed

[2015-02-24 09:33] kevinkuszyk commented on #28
I haven't had much time to look at this yet I'm afraid.  I tried to re-enable running unit tests from the build script this morning - but it looks like the build is [broken](https://ci.appveyor.com/project/T4MVC/r4mvc/build/66).

I'm going to focus on getting a stable build first (see #27), and then come back to this.

[2015-02-24 10:36] kevinkuszyk commented on #27
I have raised a [support ticket](http://help.appveyor.com/discussions/questions/1038-how-to-build-aspnet-5-applications) with AppVeyor for this.

[2015-02-24 11:32] kevinkuszyk commented on #28
I've been doing some research on this today.  We have blocker, in that the xUnit runner only supports Team City at the moment (see this [issue](https://github.com/xunit/aspnet.xunit/issues/3)).

There is some thinking that app developers only need to run their tests against the `net45` framework, because if it runs there, it *should* run on `coreclr` too (see this [comment](https://github.com/aspn

[2015-02-24 11:42] kevinkuszyk commented on #13
All sounds good in principle.

A question though - can we just port over how this works in T4MVC and adapt it to use `Project.Webroot` to make the relative links?

@davidebbo - is there anything about the existing implementation in T4MVC that you think we should or should not port over to R4MVC?

[2015-02-24 11:45] wwwlicious commented on #28
Agreed, actually just tested this and I can get the console runner to work but not VS test runner, debugging will likely be awkward though.

=== TEST EXECUTION SUMMARY ===
   R4Mvc.Test  Total: 33, Errors: 0, Failed: 9, Skipped: 0, Time: 0.858s
PM> k test
xUnit.net ASP.NET test runner (32-bit Asp.Net 5.0)
Copyright (C) 2015 Outercurve Foundation.

Discovering: R4Mvc.Test
Discovered:  R4Mvc.Test
St

[2015-02-24 12:13] wwwlicious commented on #13
there are a couple of differences, one is the method of membername santisation ust4mvc uses  comes from the codeprovider in the codedom namespace, the second is the use of file and path statics.

I am avoiding using these at the moment so that custom implementations can generate whatever links they want, using whatever build process they want. They are just classes and string fields at the end of

[2015-02-25 21:34] #27 closed

[2015-02-25 22:29] wwwlicious commented on #14
Areas can be defined in controller attributes which we should be able to get from the controller nodes returned from the rewriter.

They can also be registered in the routetable directly. Do we need to pick these up?
Will need to review the mvc code as I'm not as familiar with the internal population of areas into the routedictionary.

Have you any thoughts on this one?

[2015-02-25 22:34] wwwlicious opened #33 "Exclude controller actions marked [NonAction] from rewriter and generation"
Currently only controllers marked R4MvcExclude are excluded from the rewriter and are not returned in the enumerable for generation.

Will need to exclude marking nonaction methods as virtual in the rewriter and exclude them from generation also.

[2015-02-27 16:46] kevinkuszyk commented on #14
I never use areas, but they are in the framework so we should support them.

Will need to review the mvc code as I'm not as familiar with the internal population of areas into the routedictionary.

I'll have a look at T4MVC code to see what's done there.  I would suggest doing something similar in R4MVC.

[2015-02-27 16:53] kevinkuszyk commented on #13
That makes sense.  Also, I agree we should take a dependency on anything in the  `CodeDom` namespace.

[2015-02-27 16:57] kevinkuszyk commented on #28
Are you having any problems running your tests?  Since upgrading to CTP6 and the beta3 runtime I get a   NullReferenceException from `k run`:

[code]

[2015-02-27 18:03] wwwlicious commented on #28
I've been fighting a broken install of ctp6 and beta 3 for 3 days now so I haven't looked at this. I'm hopeful that I'll have vs back tonight and plan to spend some time over the weekend finalising the Links statics and will also have a look at fixing the tests.

[2015-02-27 18:40] kevinkuszyk commented on #28
The trick seems to be keeping the packages and framework on the same beta version.

I have the master branch running on beta3 now, so sync that with your fork when you can.  You may need to run kpm upgrade to pull down the latest runtime.

I also fixed running the tests - just fix the xunit runner to beta3.  I'll commit this next time I'm at a machine with VS installed.

[2015-03-03 11:28] kevinkuszyk commented on #28
We now have tests running for both `clr` and `coreclr` and results displaying in AppVeyor.

[2015-03-03 11:28] #28 closed

[2015-03-13 09:47] kevinkuszyk opened #36 "Only run the generator once in each build"
If we are compiling for two or more frameworks, the generator is run for both of them.  We only need to run once as the code we produce is the same each time.  See PR #34.

[2015-03-16 16:43] kevinkuszyk opened #37 "Load array settings from r4mvc.json config file"
To finish the work started in PR #35.

The following settings will be expressed as arrays:
1. `StaticFilesFolders`
2. `ExcludedStaticFileExtensions`
3. `ExcludedViewExtensions`

When the configuration sub system supports arrays we can add these to the `r4mvc.json` file.

[2015-06-18 16:12] kevinkuszyk opened #38 "React to ContentFiles removed from Project"
In beta4 the `ContentFiles` property has been removed from the `Project` class.  We need to remove our dependency on this property.

[2015-09-08 22:23] robertbird opened #39 "What is the status of this project?"
I have just started playing with ASP.Net 5 and MVC 6, after creating a new project I instinctively added T4MVC and quickly found my way here! :+1:

I see from the latest comments [here](https://github.com/aspnet/Home/issues/272), that MS are going to support single file generators and that T4 may not be dead.

I'm wondering how close you guys are? Activity seems to have dropped off, is this relate

[2015-09-08 22:47] wwwlicious commented on #39
I do plan on picking this up again soon but it's the usual excuses that I've been super busy and haven't had the time over the past six months. Also I've been waiting for both VS2015 RTM which we now have and asp.net 5 / MVC 6 projects to stabilize a bit during the beta's for less of a moving target

I'm haven't really followed the file generators discussion either but agree that this project is w

[2015-09-09 13:06] kevinkuszyk commented on #39
For me this is a lower priority now that T4 support is back on the cards.

I'm happy to remain involved if I can find time for it over the next few months.

In terms of where we're at - @wwwlicious had some code generation working on one of the early beta runtimes.  I have tried to keep up with the betas as they drop, but the last time I checked added a reference to R4MVC from an MVC broke the bui

[2015-09-10 13:17] robertbird commented on #39
Thanks for the honest responses!

I think this project is a great idea and would love to contribute, but have to be honest, I know nothing about Rosyln and am only just starting to learn about vnext so have a long way to go before I would be able to contribute code. I'm also a bit of an all-rounder and can't see myself getting too deep into Roslyn. However, maybe I can help with the docs when you

[2015-09-10 13:17] #39 closed

[2015-12-07 16:36] waynebrantley opened #40 "Status of this project"
- Not much done on this in a while - is anyone interested in pursuing this?
  TagHelpers would need to support this too.

I am trying to figure out if *4MVC should be abandoned.

[2015-12-07 17:04] kevinkuszyk commented on #40
For me, whilst there is a place for magic strings in MVC, there is a need for *4MVC either as an extension or something similar built in.

We had a recent discussion on status in #39.  Unfortunately I don't have a great deal of time to dedicate to this project at the moment.  Having said that, I'm happy to remain involved if someone else can take the lead for a while.

[2015-12-07 20:20] waynebrantley commented on #40
While I contributed quite a few pieces to T4MVC, I do not know much about Rosyln at this time.  I hate to take *4MVC out of my code, but there are lots of shortcomings in it (as things like async and webapi were introduced after T4MVC).  I agree there is a need for _something_ that can help with the strings.

[2015-12-08 00:01] wwwlicious commented on #40
I cannot speak for others, but T4MVC for me was always to avoid using strings to represent things that should or could be expressed as code, aiding intellisense, compile-time checking and refactoring support. As things matured over the last few years, the intellisense support has greatly improved when adding css, script links or referencing controller actions but I still prefer my compiler actuall

[2017-03-21 11:13] ignatandrei commented on #40
So is this project dead? The build is failing ... and no activity was done.

[2017-03-21 12:45] waynebrantley commented on #40
I migrated away from T4MVC.  Helps with speed of builds and such greatly.
I used https://github.com/ivaylokenov/ASP.NET-MVC-Lambda-Expression-Helpers and there is a .net core version (https://github.com/ivaylokenov/AspNet.Mvc.TypedRouting)

You won't get the constants for the view file names or the image names, but as far as routes go works just fine.

[2017-03-21 12:45] #40 closed

[2017-03-26 16:59] iranidesign opened #41 "R4MVC Nuget"
How Can i Use R4MVC in MVC Core 1.1 ?
Dow You Have Nuget Package?

[2017-03-29 07:42] kevinkuszyk commented on #41
Unfortunately we are still some way off having working code, so no MVC Core 1.1 support or NuGet at the moment.

[2017-03-29 07:42] #41 closed

[2017-03-29 07:59] kevinkuszyk opened #42 "ANNOUNCEMENT: New maintainers wanted"
## Some background...

@wwwlicious and I started this project with the support of @davidebbo back in the in the heady days of the K runtime, DNX, and the MVC 6 betas.  Things were moving fast and we were unable to keep up with the changes.

We have some working code from the ~beta4 timeframe.  Since then there have been many changes to the framework.  Most notably for this project the `ICompileMod

[2017-03-29 18:23] wwwlicious commented on #42
For those interested, I think this project requires [source generators](https://github.com/dotnet/roslyn/blob/master/docs/features/generators.md) which implements a package `Microsoft.CodeAnalysis.SourceGenerator` which afaik is not publicly available on any package feed yet.

[2017-04-28 17:55] benjamin-hodgson commented on #42
Here at Stack Exchange we've built [our own bit of infrastructure](https://github.com/StackExchange/StackExchange.Precompilation). It's basically a separate executable which wraps Roslyn and provides more or less the same functionality as Roslyn's `ICompileModule` stuff used to. It might be fairly straightforward to port R4MVC to StackExchange.Precompilation, although it would mean users would hav

[2017-05-21 22:29] artiomchi commented on #42
I've used T4MVC for a long while now, and am an avid fan. I'd like to contribute to the project, and help with the MVC Core support.

I spent some time mulling over the whole thing (starting with upgrading this project to the new .csproj format), and this is what I came up with so far:
I can see why the removal of `ICompileModule` has stalled the project, but I believe there's a much simpler way t

[2017-05-21 22:32] artiomchi commented on #42
@benjamin-hodgson First of all, love the great work that Stack Exchange is doing!

I've only recently stumbled upon the StackExchange precompiler, and while I'm considering using it in some projects, I don't think that tying T4MVC/R4MVC to it is a great idea, for the same reason you listed. I think an alternative way to trigger the code gen would be much better, as I outlined above

[2017-05-21 23:50] artiomchi commented on #42
Oh yeah, I forgot to mention. The new project format is different, the file nesting is now happening automatically, based on the filename.

As such, I think the best option here would be to keep the .generated.cs controller files next to the controllers themselves. This way this solves the issue of all the .generated files being visible in the project.

One thing I didn't mention was the TagHelper

[2017-05-22 07:58] artiomchi commented on #19
Actually, reusing T4MVCExtensions would be a pretty bad idea.

T4MVCExtensions depends on the full framework, including a reference to System.Web. The new MVC framework is a complete rewrite, which moves away from System.Web to make it leaner and faster (and fix a whole bunch of architectural issues with the old stack). It also is built against .NET Standard which makes it cross platform compatibl

[2017-05-25 10:48] kevinkuszyk commented on #42
@benjamin-hodgson @artiomchi thanks for your comments.

I'd be reluctant to take any external dependencies for the hook to invoke R4MVC.  I was thinking it should move to exposing a dotnet cli command, something like `dotnet r4mvc generate` or similar.

This would have the advantage that it's xplat, cli / build server friendly and can be built on in VS / VS Code etc.

@artiomchi re. renaming the p

[2017-05-25 10:50] kevinkuszyk commented on #19
@artiomchi agreed.

[2017-05-25 10:50] #19 closed

[2017-05-26 13:14] artiomchi commented on #42
@kevinkuszyk Sure, makes sense.

Also, I've been digging more into it this weekend, and I have some bad news and some good news. My initial plan was to go the cli / powershell route. I started with removing the dependency to the `ICompileModule` and just using the `CSharpSyntaxRewriter` to do the job. It would only work for restricted scenarios, with massive limitations since this would only analy

[2017-05-30 14:16] artiomchi commented on #19
@kevinkuszyk I would suggest to reopen this issue, since the library still has to be created, so it would be used to track this progress...

[2017-05-30 23:54] artiomchi commented on #1
Just realised that I was just spamming the "New maintainers wanted" issue with project discussion, so thought to add an update here, unless there's a better place for this.

So far I've managed to get MsBuild compilation working for AspNetCore projects, which means I can leverage a lot of the @wwwlicious's code and build on top of it. I've still been experimenting in [artiomchi/T4MVCCoreLite](http

[2017-05-31 11:25] kevinkuszyk commented on #1
@artiomchi thanks.  Your PR #43 is now merged and we have a green build again.

Regarding next steps, if you can work in a feature branch in your fork and open PRs from there that will work best (see [this guide to the GitHub flow](https://guides.github.com/introduction/flow/)).  You may need to delete your local `master` branch, fetch the latest from here, and force push it to your fork to sync i

[2017-05-31 12:22] artiomchi commented on #1
GitHub Flow sounds like a simplified, less strict version of Git Flow which I'm usually using (except for this pull request, actually =/), so that sounds good.

Regarding the tag helpers, I'm not sure how much experience you have with ASP.NET Core so I'll have to make some assumptions here for the sake of the readers that haven't written any before.

While ASP.NET Core has support for the old/clas

[2017-05-31 12:54] artiomchi commented on #1
P.S. Any preference for the indent character? I usually use the VS default on most of my projects (space), but I've seen some of the classes in the R4MVC source use the tab character.

Ideally I'd like to make sure that it's consistent across the whole solution, but I'll defer to your choice since it's your project

[2017-05-31 13:15] kevinkuszyk commented on #1
Yes, not a lot.  I'm aware of them, but I don't have any production projects using MVC Core yet.

That sounds like a good approach.

Great.  I missed that point before.

I don't have a preference.  If you prefer spaces, then lets go with that.

[2017-05-31 22:39] artiomchi commented on #12
I'm wondering if this is still necessary or not.

The reason the action name constants were added in the first place (based on my research) is to be able to reference the actions in Attributes. Since this project is for ASP.NET Core, it's a given that it will be compiled with a C# 6 or newer compiler, which adds `nameof()` expressions.

So instead of having an attribute that references an action l

[2017-05-31 22:51] artiomchi commented on #5
That issue seems to be obsolete/unnecessary at this point, since writing generated.cs files is now working.

If getting the root path for the project is necessary in other scenarios, it can easily be picked up from the `Workspace`'s `Project` properties

[2017-05-31 22:56] artiomchi commented on #4
The root namespace of the project is either going to be in the `RootNamespace` property in the project's `.csproj` file or will be derived from the project ID. Either way, parsing the `.csproj` with an xml reader seems to be the way to go.

See also:
https://stackoverflow.com/questions/36806989/how-get-default-namespace-of-project-with-roslyn

[2017-05-31 22:58] artiomchi commented on #3
Since the project will now be a cli/powershell executable, unit testing it will work the same as unit testing any other app (in fact, unit tests are already picked up by AppVeyor), so seems like this can be closed as well

[2017-05-31 23:09] artiomchi commented on #2
You're absolutely right on this one.

I can see that the services are already registered in [IocConfig.cs](https://github.com/T4MVC/R4MVC/blob/master/src/R4Mvc/Ioc/IocConfig.cs). I've changed the method to receive a IServiceProvider as a parameter, and have a void return.

A new `ServiceCollection` is initialised in `Program.cs`, then the services are registered in `IocConfig`. Finally, the servic

[2017-06-01 03:46] artiomchi commented on #6
I think this can be closed as well, pending @wwwlicious's confirmation. If I understand his comment here there was an issue with changing classes during the compilation process, since back then the code was executing in the early stages of the compilation process. The way the module is currently running - that doesn't seem to be a problem, and there's no reference to `VisitMemberDeclaration` in th

[2017-06-01 08:38] kevinkuszyk commented on #6
Sounds fine to me.  @wwwlicious?

[2017-06-01 08:39] #5 closed

[2017-06-01 08:41] kevinkuszyk commented on #3
@artiomchi agreed.

[2017-06-01 08:41] #3 closed

[2017-06-01 08:44] kevinkuszyk commented on #12
It might be useful to keep this to maintain API surface compatibility with T4MVC.

Having said that, I don't think it's a high priority, so I'll move it to the backlog.

[2017-06-01 09:39] artiomchi commented on #12
One thing to note about this is we should probably decide on this before the first release.

The code is already in place to generate it, and it doesn't take much space. It was more of a question of what's correct and how can we enforce good practices / get people to use modern APIs.

Once the first stable build is released, removing features will be more troublesome / bad compared to not adding t

[2017-06-01 19:33] wwwlicious commented on #6
@artiomchi @kevinkuszyk Yes, I agree this can be closed

[2017-06-02 10:33] artiomchi commented on #1
So far the progress is going pretty good. I've got a working POC with most of the core functionality in place and working for basic scenarios.

Things that are working so far:
- Marking existing controllers / actions as partial / virtual
- Creating parameterless methods for actions with the R4MVC implementation
- Overriding action methods in the R4MVC derived class with the R4MVC implementation
-

[2017-06-02 10:36] artiomchi commented on #1
One other important note. While the `R4Mvc` project is multi targeted against .NET 4.5.1 and .NET Standard 1.6 (minimal targets for Microsoft.AspNetCore.Mvc package), and the package is cross platform (the website using it can easily be hosted on Mac / Linux / Nano Server), the `R4Mvc.Tools` package that will be used in development will HAVE to run on a Windows machine.

This is currently a limita

[2017-06-02 10:43] artiomchi opened #44 "Support for View Components"
ASP.NET Core MVC added a new entity called View Components. They're similar to partial views / child actions, but more powerful and much better implemented.

I think R4MVC should also add support for them (although the initial core functionality takes priority ofc)

docs: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-components

[2017-06-02 11:00] artiomchi opened #45 "Strong typed tag helpers"
The tag helpers are working as expected and the `mvc-action` currently supports both synchronous and async actions. The issue is that these two types of actions have a different return type (`IActionResult` vs `Task<IActionResult>`)

In the tag helper code I've set the type of that attribute as `object` to allow both types of methods to be accepted, and am type checking when generating the url, bu

[2017-06-02 11:07] artiomchi commented on #45
This would be easily solved if TagHelpers only populated the property of the supported type. As you can see above, the IntelliSense is aware of all three properties, but only the first one is populated. If I remove the `Object` one, then the second one will receive the values, and will throw an exception for `Task<>` values.

There's an issue for the aspnet team requesting support for this, so we

[2017-06-05 14:53] artiomchi commented on #37
Since the project is already using .Microsoft's DI library, I thought to also use their Configuration library as well. It can manage multiple configuration sources (currently json + command line params for overrides, + deffault values). It works perfectly well with handling arrays as well without the need for any extra code or complexity! So that's probably done once b13b8d6b is merged

[2017-06-05 14:54] artiomchi commented on #36
Since the generator doesn't run anymore on build, this issue is now deprecated :)

[2017-06-05 15:08] artiomchi commented on #14
So areas have changed in MVC Core. Compared to ASP.NET MVC, where you had an Area Registration class, and needed a specific folder structure, controllers in MVC Core can be in ANY folder, and as long as they have an Area attribute - they'll be part of that area.

That part was simple enough to handle. A somewhat more complicated scenario occurs when you want to move away from Magic strings. In my

[2017-06-05 15:09] artiomchi commented on #14
@wwwlicious

I couldn't find any reference to this anywhere.. To be honest, I don't even remember that being in earlier versions of MVC Core.. Unless I'm mistaken- that's not something we have to worry about

[2017-06-05 16:06] kevinkuszyk commented on #36
@artiomchi agreed.

[2017-06-05 16:06] #36 closed

[2017-06-05 16:08] kevinkuszyk commented on #37
@artiomchi thanks.  Back in the early days the config system didn't support arrays, but they have 1st class support now.

I'll leave this open for now.  When you open that PR, can you make a note that it should close this issue?

[2017-06-05 16:10] kevinkuszyk commented on #44
Agreed.  Ok if I move this one to the backlog?

[2017-06-05 16:17] kevinkuszyk commented on #1
@artiomchi thanks, it sounds like you are making good progress.

Once you have the areas support working, do you think we have enough for a public alpha?

Setting up a CI feed from this project has been on my todo list too, so I'll get that sorted too.

[2017-06-05 17:34] artiomchi commented on #44
Of course, I'd rather get the basic functionality out first, and then start adding extras

[2017-06-05 17:36] artiomchi opened #46 "Potentially look at adding SignalR hubs support?"
I'm not sure if that would be interesting/useful, but another option to add to the backlog would be to check the ability to generate some metadata for SignalR hub classes.

They'd be used in Javascript, of course, so not sure what would be the best case scenario, but we could at the very least generate js intellisense files!

[2017-06-05 17:36] artiomchi commented on #37
Of course. It'll close/progress a number of issues in fact

[2017-06-05 17:57] artiomchi commented on #1
Absolutely! I've got two last things I want to do before going to a public alpha - Html helpers (to go alongside the tag helpers) and View locators. Both are quite trivial, actually. The first is going to be mostly a port of the same extenstion class from the main library, with slight changes due to the framework classes/assemblies. And the second will initially follow the default folder conventio

[2017-06-05 21:35] kevinkuszyk commented on #46
I think this might be out of scope for R4MVC for now, but once SignalR is ported over to .net core and part of MVC Core maybe we can add then?

I'll add to the backlog for now.

[2017-06-05 21:36] #6 closed

[2017-06-08 19:18] #9 closed

[2017-06-08 19:18] #2 closed

[2017-06-08 19:36] #7 closed

[2017-06-08 19:36] #8 closed

[2017-06-08 19:37] #10 closed

[2017-06-08 19:37] #11 closed

[2017-06-08 19:37] #12 closed

[2017-06-08 19:37] #14 closed

[2017-06-08 19:37] #24 closed

[2017-06-08 19:38] #38 closed

[2017-06-08 22:28] kevinkuszyk commented on #37
@artiomchi was this included in PR #47?

[2017-06-08 22:29] kevinkuszyk commented on #20
@artiomchi do you think we have this covered allready?

[2017-06-08 22:31] kevinkuszyk commented on #4
@artiomchi was this covered in PR #47?

[2017-06-08 22:36] kevinkuszyk opened #49 "Automate deployment to MyGet and NuGet.org"
Follow on from #48.

- CI builds (all branches except `master` and PRs) should automatically publish to MyGet.
- When we create a tag from `master` (i.e. create a release in GitHub) we should automatically publish to NuGet.org.

[2017-06-08 22:48] kevinkuszyk opened #50 "Alpha1 release planning"
@artiomchi I've created a [milestone](https://github.com/T4MVC/R4MVC/milestone/2) and moved the issues I think we need for a first alpha into it.  Do you think there is anything else to add?  There is also the [v1 backlog](https://github.com/T4MVC/R4MVC/milestone/3) for other items to be picked up in later alphas and betas, and a [backlog](https://github.com/T4MVC/R4MVC/milestone/1) for anything e

[2017-06-08 22:49] kevinkuszyk commented on #1
@artiomchi @wwwlicious ok if I close this now in favor of #50?

[2017-06-09 20:29] wwwlicious commented on #1
@kevinkuszyk fine by me 👍

[2017-06-11 22:52] artiomchi commented on #37
Oh, whoops. I missed this issue. Yes, this can be closed now

[2017-06-11 22:56] artiomchi commented on #20
The configuration part has been handled.. But this issue also mentions extensibility, which is an interesting point, but a whole separate thing. We can either keep this open for the time being, or migrate it to a new dedicated issue to keep things clear and avoid confusion..? I'm not sure if it would be used a lot, but the idea of dynamically injecting assemblies with alternative implementations o

[2017-06-11 22:57] artiomchi commented on #4
It hasn't been implemented/used yet, so I'd keep it open until we've got it in place

[2017-06-11 23:31] artiomchi commented on #1
@kevinkuszyk fine by me as well!

[2017-06-12 07:44] #1 closed

[2017-06-12 07:46] #37 closed

[2017-06-12 09:47] wwwlicious commented on #4
Although written for something else, you may find the following useful when parsing msbuild project files to get things like the rootnamespace.
https://github.com/cake-contrib/Cake.Incubator/blob/develop/src/Cake.Incubator/ProjectParserExtensions.cs#L217

[2017-06-14 10:10] artiomchi opened #51 "Prevent Area and Root controller name clashes"
One of the things that should be tackled is preventing the root controllers and area names from clashing.

Say a user has a `CatalogsController`, and also a `Catalogs` area with further controllers. The MVC class would have a `MVC.Catalogs` field for the controller and a `MVC.Catalogs` property for the area.

I've added a basic check for this, and will rename the area property in the MVC class to

[2017-06-14 10:19] artiomchi opened #52 "Project tooling (PowerShell, dotnet-cli, other options?)"
When you add a tool package to a project, VS adds it's path to the current PATH env variable to be able to run it's exe/cli/powershell commands. That works fine until you update that package. At that point the second package's path is added to the PATH variable, but since it's added at the end, and the previous path is still there, the first one takes precedence.

The end result is - after you upd

[2017-06-14 10:21] artiomchi commented on #50
The project should be almost ready for alpha1, actually.

#20 and #4 can actually be moved to the v1 backlog, as they're not critical for the alpha. Other than testing a couple issues, the current codebase should work, and has 90% of the core features already. I'd potentially consider #13 and #33 for at least `alpha.2` if not `alpha.1`.

The issues I want to add to the alpha.1 milestone at this po

[2017-06-14 12:34] kevinkuszyk opened #53 "Add hooks to allow customising the generated code"
T4MVC has hooks allowing users to customise the generated code.  We should support something similar too.

Splitting off from #20.

[2017-06-14 12:35] kevinkuszyk commented on #20
Closing, as settings are done.  We now have #53 to track adding customisation.

[2017-06-14 12:35] #20 closed

[2017-06-14 12:37] kevinkuszyk commented on #50
@artiomchi thanks for your efforts so far.  I'll try to find some time over the next week or so to get the CI sorted.

[2017-06-14 16:03] artiomchi opened #54 "Form tag helper, default method to POST if not specified"
I didn't see which tag helper causes this in ASP.NET, but they do, so we'll probably have to do the same.

This is pretty important for #50 alpha1, I think

[2017-06-14 22:32] artiomchi commented on #54
For reference, ASP.NET does it in [DefaultHtmlGenerator](https://github.com/aspnet/Mvc/blob/28e16ed965c3284309789cb94e595be3323292fe/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/DefaultHtmlGenerator.cs), GenerateFormCore method.

With that in mind, it's safe to do the same if method is blank

[2017-06-15 18:40] #54 closed

[2017-06-15 18:41] kevinkuszyk commented on #51
Closed via #55.

[2017-06-15 18:41] #51 closed

[2017-07-25 10:37] valeriob commented on #49
Hi, how close is this ? i could help testing it with a consumable package

[2017-07-25 10:53] valeriob commented on #49
Stupid followup question, i downloaded the src, linked the project R4Mvc, now how do i cfg and run it ?  :D
Thanks

[2017-07-25 12:24] valeriob commented on #49
Meanwhile i'm trying to run it manally, but i get the following error :
 Msbuild failed when processing the file 'C:\Users\vborioni\Downloads\R4MVC-master (1)\R4MVC-master\src\R4MvcHostApp\R4MvcHostApp.csproj' with message: The imported project "C:\Users\vborioni\Downloads\R4MVC-master (1)\R4MVC-master\src\R4Mvc.Tools\bin\Debug\net462\Sdks\Microsoft.NET.Sdk.Web\Sdk\Sdk.props" was not found. Confir

[2017-07-25 12:56] kevinkuszyk commented on #49
@valeriob getting the package up on MyGet might take a few more weeks (the kids are off at the moment as it's school holidays here in the UK and busy time at the allotments).

@artiomchi any tips for running it locally using a custom build?

[2017-07-31 08:46] valeriob commented on #49
Hi,
i tried to set the env variable "MSBuildSDKsPath" to  "c:\Program Files\dotnet\sdk\2.0.0-preview2-006497\Sdks\" but now i get a different error :
Msbuild failed when processing the file 'C:\Users\vborioni\Downloads\R4MVC-master (1)\R4MVC-master\src\R4MvcHostApp\R4MvcHostApp.csproj' with message: The imported project "C:\Program Files (x86)\MSBuild\2.0\Microsoft.Common.props" was not found. Con

[2017-07-31 13:23] artiomchi commented on #49
Hi @valeriob

You shouldn't have to change the env variables to build the project. My guess is that you've installed .NET Core 2.0 Preview 2, while I build it against 1.1. In any case, I'll be making sure that it works when build against 2.0 shortly.

Regarding your question about adding it to an existing project, I've set up a MyGet feed against my dev branch, so until we have official alpha buil

[2017-07-31 13:24] artiomchi commented on #49
P.S. If you have any issues with the nightly builds or building the code, please open a new issue so that we can help you. I'd rather we keep the issue discussions on topic :)

[2017-08-01 06:48] valeriob commented on #49
Hi @artiomchi thanks !
I migrated r4mvc to aspnetcore 2.0 but i failed... Well i migrated it and it compiles, but running the tool brings the result you see on  my comment above 😄

[2017-08-02 06:20] artiomchi opened #57 "MSBuild error: "The SDK 'Microsoft.NET.Sdk.Web' specified could not be found.""
Seems like the MSBuild/dotnet team has made some changes which has broken the build process once again. This is affecting a number of other projects, so it's not limited to us. One possible reason is that this was introduced in the dotnet core 2.0 preview 2.

I'll be investigating it deeper, and hopefully will find either a way to avoid the issue, or find a workaround for it. Until then, the build

[2017-08-02 06:40] artiomchi commented on #52
I'm finally back from being away for so long, and started working on this (as the main outstanding issue for alpha 1).

I'm digging deeper into the .net code to see how they handled this on their side. Seems like the install.ps1 and uninstall.ps1 are no longer in use, and may be deprecated in the future, so I'm looking at alternative solutions.

The way EF Core are handling it is quite interesting

[2017-08-02 07:00] artiomchi commented on #57
A quick search shows these issues on the topic:

- dotnet/roslyn#20168
- dotnet/cli#6178
- Microsoft/msbuild#1697

While not matching the error word by word in a couple cases, they seem to be based around the same issue.

[2017-08-03 07:04] artiomchi commented on #57
So here's a fun thing.. I started with a new build machine, installed the latest version of VS 2017 (15.2 stable, Community), and the project built fine. I then installed .NET Core 2.0, and the project still worked. I couldn't make .net core 2.0 projects, since that requires the 15.3 Preview version, so I installed that, and the project STILL built fine. When I upgraded it to netstandard2.0, and a

[2017-08-03 08:49] artiomchi opened #58 "Add support for / migrate to AspNetCore 2.0"
An obvious move eventually, but there are a couple things blocking us, currently.

1. Issues with MsBuild (outlined in #57). A blocking issue that will affect users when trying to run our module. Pretty much priority 1 for this issue.
2. AppVeyor support for .NET Core 2.0.

Issue one will have to be handled first. Luckily, I managed to get it to work (sort of) on a clean environment, with a small

[2017-08-03 08:53] artiomchi commented on #58
Tagging @valeriob to keep him updated

[2017-08-06 11:45] artiomchi commented on #52
Digging deeper, I finally made some progress.. I've switched the name of the issue to change it into a discussion on tooling in general, rather than making it PS specific

First things first, I've managed to make the PowerShell tooling work in a reliable way. (i.e. it will pick up the latest version of the tools after each update without the need for a VS restart!) As such, I think we can go ahead

[2017-08-06 11:54] artiomchi commented on #57
There seem to be some issue that was caused by installing either VS 15.3 preview or .NET Core 2.0 preview.

While the project works **perfectly fine** on my laptop, where I just had a _clean install_ of both, my desktop has lived through several preview builds of .NET Core and VS 15, and something has clearly gone wrong there.

[2017-08-08 08:26] kevinkuszyk commented on #52
@artiomchi looks like a good approach to me.  Shall we open issues to track progress on each of the commands and then close this one?

[2017-08-08 08:53] artiomchi commented on #52
Yup, that makes sense. I'll go over them and create 4 new issues to replace this one with a proper write-up this evening

[2017-08-08 08:53] #52 closed

[2017-08-09 08:51] artiomchi opened #61 "Tool command: Generate"
This is the main command of the package, which runs the primary purpose of the tool - evaluating the web project and generating R4Mvc classes. It can be either invoked in PowerShell (`Generate-R4Mvc`) or in dotnet cli (`dotnet r4mvc generate`). If executed within the same path as the web project, it can be triggered as is, otherwise you need to pass the project path as an argument.

Thanks to the

[2017-08-09 08:52] artiomchi opened #62 "Tool command: Status"
This command will evaluate the web project and display the status of R4Mvc within said project - specifically checking if R4Mvc has already been invoked for the project, as well as displaying project configuration from the `r4mvc.json` file, if present. It can either be invoked in PowerShell (`Get-R4MvcStatus`) or in dotnet cli (`dotnet r4mvc`)

Optionally, when triggered in PowerShell, we can out

[2017-08-09 08:52] artiomchi opened #63 "Tool command: Remove"
This command will remove any generated code files from the project, created by R4Mvc. It might not be used a lot, but it might be useful in some circumstances.

Removing T4MVC is relatively easy (just delete the T4MVC.* files from the project. Compared to that, R4Mvc generates `*.generated.cs` files for each controller, next to the controller files. The main reason for that is the auto-nesting fea

[2017-08-09 09:01] artiomchi opened #64 "DotNet Cli tooling support"
While both the PowerShell and toe dotnet cli tooling will run the same executable, they will be invoked somewhat separately. The PowerShell commands are triggered by the PS Module bundled with the `R4Mvc.Tools` package, and already works well.

For the dotnet cli to work, we need to either register the package as a cli tool package, or have a separate package to do that. So far I'm leaning towards

[2017-08-09 09:23] artiomchi commented on #50
@kevinkuszyk @davidebbo
Since the alpha1 release is basically impending, I thought to bring the last thing we should do before pushing the package to NuGet - the package description.

I'm just pushing a commit that cleans up the .csproj on both packages, separating the metadata in a separate property group. I've based the metadata on the current T4MVC packages, since it's practically the same proj

[2017-08-09 09:39] artiomchi commented on #49
@kevinkuszyk Once you update the API keys in the yaml file, this issue can be closed too :smile:

[2017-08-09 14:54] kevinkuszyk commented on #50
@artiomchi  looks good.  A couple of questions:

1. Are we going to set the initial version to `1.0.0-alpha1`?
2. Can you include Scott Mackay (@wwwlicious) as an author - he wrote most of the original code.
3. Do you want to add yourself as an author and owner?  Once we push to NuGet.org I'll add you as an owner of the package there too.

And on the subject of deployments, this is an encrypted AP

[2017-08-09 15:29] artiomchi commented on #50
@kevinkuszyk I was going to keep it at pre 1.0 until we're closer to having the full implementation.. The current first alpha is a bit raw around the edges, and while it's usable, it's still missing a lot of the original functionality in T4MVC, like extensibility, for example.. It also requires some work around tooling (esp the dotnet cli part) which also influenced that decision...

Once I'm more

[2017-08-10 08:09] kevinkuszyk commented on #50
I'd be happy to start at `1.0.0-alpha1` or `0.1.0-alpha1`.  I can't remember where `0.6.0` came from to be honest.

[2017-08-10 09:12] artiomchi commented on #50
I believe I started with version 0.5 when I rebuilt the projects, and was slowly increasing it as I was adding more features.

I'm OK with bumping it to 1.0 for the alpha then. I'll finish up some tests to make sure it's usable, and deploy the alpha build in the coming days!

[2017-08-10 20:00] artiomchi opened #65 "Honor the RequireHttpsAttribute"
If a controller or action has the RequireHttpsAttribute, the links generated should ensure the url generated will be directing the user to a secure page.

[2017-08-10 20:20] artiomchi opened #66 "Properly support framework multi-targeting"
At the moment, this is either ignored (best case), or no code will be identified by the compiler in the first place (worst case!)

When R4Mvc.Tools loads a web project, we have to identify the target framework of that project, and possibly configure MSBuild to pick a desired framework. Need to test that with multi targeted projects, as well as identifying the differences based on which framework c

[2017-08-10 20:25] artiomchi opened #67 "Documentation!"
For the alpha 1 release, I'll add some very basic documentation, mostly based on the docs from T4MVC.

Before the final v1 release, we have to make sure that

- [ ] Documentation is up to date!
- [ ] All features referenced actually exist and have been implemented!
- [ ] It should be clean, and simple to understand

[2017-08-10 21:27] artiomchi commented on #67
Current docs can be viewed here: https://github.com/T4MVC/R4MVC/wiki/Documentation

[2017-08-10 22:27] artiomchi commented on #13
Tasks for this feature:

- [x] Generate links for static files
- [x] Support for overrides (ProcessVirtualPath delegate)
- [x] Support for timestamping static files

[2017-08-11 08:10] artiomchi commented on #50
@kevinkuszyk @davidebbo @wwwlicious
Alpha1 release is finally out and deployed to NuGet! I've put some basic docs up, so that should allow some people to start using and testing it.

In the meantime, I'm switching gears to prepare for alpha 1.1, where I'll concentrate on code restructuring, cleanup and testing, while we gather some feedback from the alpha testers :smile:

[2017-08-11 08:10] #50 closed

[2017-08-11 08:19] artiomchi commented on #58
@valeriob - I've just pushed the first alpha release, but alongside that, I also pushed a first ci build of the dotnet 2 branch.

You can find these builds under this MyGet repo: https://www.myget.org/F/r4mvc/api/v3/index.json

Look for the `*-ci-dotnet-core-2-*` builds!

[2017-08-11 11:02] artiomchi opened #68 "Switching the repository default branch"
Hey @kevinkuszyk

Could you change this repository's default branch to `develop`? This is to ensure two things:

 - All pull requests will by default be pointing to the default branch. We don't want an accidental merge into master, triggering a release :)
 - When you go to the home page of the repository, we want to make sure that the users see the latest version of the README file, which will be

[2017-08-11 12:56] philcontrolf1 commented on #57
I don't think [dotnet/cli#6178](https://github.com/dotnet/cli/issues/6178) is actually relevant here - that's been present since before 2.0 and is caused by the Docker SDK not being open-source so not shipped with dotnet itself.

[2017-08-11 13:51] kevinkuszyk commented on #68
Done.  I also made `develop` and `master` protected.

[2017-08-11 13:51] #68 closed, assigned to kevinkuszyk

[2017-08-11 14:49] valeriob commented on #57
@artiomchi I had the same experience, i also tried to completely remove vs 15.3 preview but it still does not work.

[2017-08-11 15:59] artiomchi commented on #57
@philcontrolf1 Ah, I guess it's not then.. I thought it seemed somewhat similar, hence linking it here

@valeriob I just managed to make my main environment work again. Like I said, I had VS 15.3 installed for some time, and over time accumulated several versions of .NET Core SDK.

What I just did was go to Programs and Features, and deleted ALL versions of .NET Core SDK - I had almost 10 of them,

[2017-08-12 09:23] valeriob commented on #57
@artiomchi i will as soon as possible.
so you had vs 15.2 and 15.3 installed, you removed all .net core sdks and repaired 15.3 or 15.2 ?

[2017-08-12 10:25] artiomchi commented on #57
Pretty much, yes. I ran the repair on both of them. 15.2 failed the repair, missing some VS components (I might reinstall it later), but 15.3 ran the repair successfully.

Bad news is - while it allows me to build the project, I just realised that running R4MVC still fails (since it depends on MSBuild working correctly), so something's still messed up there :(

That's just disappointing

[2017-08-12 10:27] artiomchi commented on #58
@valeriob (btw, I suggest you subscribe to this issue, so I don't have to tag you every time :wink: )

AspNetCore MVC 2.0 was just pushed to NuGet.. I'm not sure if that's an accidental early release, but you can see it for yourself here: https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc/

[2017-08-12 10:29] artiomchi commented on #58
Also I just found an unpublished link to the final .NET Core 2.0 files as well! I think an announcement is coming!

Edit: Not sure about the framework yet, but seems like .NET Standard 2.0 has been finalised - that that's something

Edit 2: Ahh, apparently it'll be released on Sep 18th, confirmed here: https://www.youtube.com/watch?v=fGxGeP7b8j0

[2017-08-12 10:35] valeriob commented on #57
Yep i've always been able to compile it, i made the same procedure, but still no luck, running the tool fails to find an msbuild file

[2017-08-12 10:44] valeriob commented on #58
Ofc i'm subscibed thanks! 😄
Yep, in a few days maybe we will have the final bits of netstandard2.0, netcore2.0, aspnetcore2.0, vs 15.3.

[2017-08-14 22:30] valeriob commented on #57
I just tried the new bits (Vs 15.3, netcore 2.0, aspnetcore 2.0 etc..) no luck, same problem

[2017-08-15 08:16] philcontrolf1 commented on #57
There's a potentially relevant comment from "Joe Morris (MSFT)" on the [15.3 release announcement](https://blogs.msdn.microsoft.com/visualstudio/2017/08/14/visual-studio-2017-version-15-3-released/):

Worth checking if you've got an 1.0 previews installed?

[2017-08-15 08:46] valeriob commented on #57
Hi @philcontrolf1  i had, but still no luck (and in more than one machine, both with vs 2015 and 2017):
without setting env variable MSBuildSdksPath=C:\Program Files\dotnet\sdk\2.0.0\Sdks
i get this error :

_Msbuild failed when processing the file 'C:\Users\Valerio\Downloads\R4MVC-feature-dotnet-core-2\R4MVC-feature-dotnet-core-2\src\R4MvcHostApp\R4MvcHostApp.csproj' with message: The SDK 'Micros

[2017-08-15 09:00] artiomchi commented on #57
@philcontrolf1 Annoyingly enough, I just uninstalled VS 2017 preview and updated VS 2017 to 15.3 on my secondary dev machine (clean install a couple weeks ago), which never had pre-release 1.x CLIs on it. Then installed the .NET Core 2.0 SDK

After doing it this morning, I started having similar issues on that machine, with MSBuild completely failing to find it's Sdk.props. So that's definitely no

[2017-08-16 09:06] artiomchi commented on #57
So far, my best guess as to why this is happening is that uninstalling VS may remove something that MSBuild uses, and whatever it is - it's not restored during a VS install / repair.

Unfortunately, I've got 3 different environments that have the same issue now, and I can't run R4MVC on any of them. My choices at this point is to either format one of the machines to get a new clean environment, or

[2017-08-16 09:38] valeriob commented on #57
/Agree
have you found any issue on any ms repository that can be reconducted to this issue ?
I'll try the clean vm asap

[2017-08-17 09:51] valeriob commented on #57
I just created an azure vm with just vs 2017, updated to 15.3 and i could reproduce the same problem.

[2017-08-19 02:27] sirphilliptubell commented on #57
I had the same problem but I was getting "Microsoft.NET.Sdk" instead of "Microsoft.NET.Sdk.Web". This was happening when I tried to use MSBuildWorkspace.Create().OpenSolutionAsync(...). I set the MSBuildSdksPath environment variable as mentioned above and got the same error referring to MSBuild 2.0. This all started happening after updating to VS 15.3, and even happened with 15.3.1 which just came

[2017-08-21 21:22] artiomchi commented on #57
Finally tracked down the issue - it's Microsoft/msbuild#2369 and the solution is to set the `VSINSTALLDIR` environment variable to the path to your VS installation (i.e.  `C:\Program Files (x86)\Microsoft Visual Studio\2017\Community`)

Currently I'll set it in my environment, which makes running R4MVC possible, but hopefully MS will fix it in an upcoming release!

[2017-08-21 22:25] artiomchi commented on #58
One piece of interesting news regarding this issue - I've done some tests, and I just realised that the R4MVC project doesn't actually need to reference AspNetCore 2.0 - as long as it references 1.1+, you can actually reference it in your AspNetCore 2.0 project, and it should still work!

With this in mind, I suggest you try reference the alpha1 build from NuGet directly, add the Environment varia

[2017-08-21 22:40] artiomchi commented on #58
NVM, I just pushed a new build that I've just confirmed to work on both AspNetCore 1.1 and 2.0!

Look out for `1.0.0-alpha1-00166`

[2017-08-22 07:21] valeriob commented on #58
thanks @artiomchi !
I guess that as long as the assembly Microsoft.AspNetCore.Mvc.Abstractions does not change much we're good !

[2017-08-22 09:36] artiomchi commented on #58
Oh, they won't change any of the core classes. I've already encountered this in the past, Microsoft (rightly so) are very much against changing existing public APIs unless there's a VERY massive need for this, as this would break existing libraries and projects. So that's actually safe to do.

In the future, we'll eventually raise the minimum version anyway, but only when v2 is the norm, and nobod

[2017-08-22 09:36] #58 closed

[2017-08-22 10:02] kevinkuszyk commented on #49
@artiomchi what's your NuGet.org username, so I can add you as an owner of the package?

[2017-08-22 10:17] artiomchi commented on #57
Better yet, I've added code that will automatically try to detect the path of a local VS installation, to remove the need to add the env variable. This should make it possible to use the plugin without any modifications.

When MSBuild patches the bug, we'll be able to remove this code. I'll probably add this to the alpha build soon as well, to make it universally useable

[2017-08-22 10:20] artiomchi commented on #49
@kevinkuszyk it's ArtiomChi, same as here :)

Also, thanks for that. That would let me update the release notes after deployments!

[2017-08-22 10:36] larsw commented on #57
Same issue for Microsoft.Docker.Sdk references in .dcproj (Docker project files). Tried setting the VSINSTALLDIR, but didn't work as a workaround.

[2017-08-22 10:38] artiomchi commented on #57
@larsw did you try setting both the VSINSTALLDIR and VisualStudioVersion (to "15.0") variables? Seems like the bug partially stems from incorrectly parsing the VS version number

[2017-08-22 13:36] kevinkuszyk commented on #49
Done.

Re. release notes - I usually just add them to the tag in GitHub, and put a link to the GitHub releases page in the `.nuspec`.

[2017-08-22 13:36] #49 closed

[2017-08-22 22:28] artiomchi commented on #57
Build 1.0.0-alpha1-00171 should now be available in NuGet. It has the autodetection code that should make this the first self contained and working build that works on the latest version of VS.

[2017-08-29 07:40] philcontrolf1 commented on #57
@larsw That one *is* [dotnet/cli#6178](https://github.com/dotnet/cli/issues/6178) as linked above - the "root cause" is that the Docker SDK isn't open source so can't be shipped with the CLI - there's a workaround in that thread. We're getting little traction from anyone inside Microsoft on any sort of fix unfortunately :-(

[2017-08-29 12:17] valeriob commented on #33
#69 should address this

[2017-08-30 22:50] artiomchi opened #71 "Gitter for discussions?"
Hey @kevinkuszyk @wwwlicious @valeriob,

I thought it would be useful to have some way to have more live discussions on smaller scale, other than the issue tracker, as well as to have a place where users could ask questions in the future? Some (smaller) things are easier to discuss _live_, instead of in comments to an issue

I saw that a number of projects started using Gitter, so I thought maybe

[2017-08-31 08:49] kevinkuszyk commented on #71
@artiomchi good idea.  I've not used it myself, but I've seen a number of other projects using it.

[2017-08-31 20:22] #33 closed

[2017-09-05 12:12] JdlSantos opened #72 "Static link generation, duplicate string names"
R4MVC generates two strings with the same name when there are two static content files with the same name but one of them is leading by a dot.

![image](https://user-images.githubusercontent.com/18028363/30060534-b68ddd7c-923b-11e7-9279-54eb88d09a68.png)

[2017-09-05 18:59] #72 closed, assigned to artiomchi

[2017-09-08 04:49] xsoheilalizadeh commented on #64
Hi @artiomchi, this feature does work on Rider IDE? or I must do create a new issue for Rider Support?

[2017-09-08 07:11] artiomchi commented on #64
Hmm.. The dotnet cli is not finished yet, but the plan is to make this the general command line triggered option, which means it should work from any IDE, as long as it has a way to run dotnet commands. I haven't used Rider IDE, so I can't comment on that last part, unfortunately.

In the meantime, if you don't use VS, the only way to trigger the generator is to use the command line. (find where .

[2017-09-10 04:50] davidebbo opened #73 "New post from Hanselman on T4MVC/R4MVC"
https://www.hanselman.com/blog/T4MVCAndR4MVCRoslynCodeGeneratorsForASPNETCoreTagHelpers.aspx

I assume you guys saw this. Pretty cool to see coverage of the work you guys are doing!

[2017-09-11 07:58] artiomchi commented on #73
Oh man, this is awesome!

The pressure is on! I better double up my efforts 😁

[2017-09-11 16:46] davidebbo commented on #73
Sorry, that I can't be involved in R4MVC the way I was with T4MVC, but it's awesome that you guys are doing that!

[2017-09-12 08:55] kevinkuszyk commented on #73
@davidebbo thanks for the heads up.  I hadn't seen that (I was off grid in a field all weekend!).

I'm curious - did Hanselman find this project organically, or did you point him in the right direction?

@artiomchi keep up the good work!

[2017-09-12 16:28] davidebbo commented on #73
Nope I had nothing to do with it! :)

[2017-09-17 20:42] artiomchi opened #74 "Extra packages on MyGet being ordered above the latest CI build"
Hey @kevinkuszyk,

Could I ask you to remove some of the published packages on MyGet?

During early deployment tests, AppVeyor ended up accidentally deploying some Microsoft.* packages to our MyGet, which we should probably remove.

Also, unfortunately NuGet thinks that `1.0.0-ci-vscommunity-path-00164` is newer than `1.0.0-ci-00190`.
We have two "feature" builds on there for each of the packages

[2017-09-19 15:22] kevinkuszyk commented on #74
@artiomchi all done.

[2017-09-19 15:22] #74 closed, assigned to nobody

[2017-09-28 12:00] artiomchi opened #75 "Virtual paths from links aren't converted to absolute paths"
So this is an interesting one.

If you have an image tag with a virtual path:
[code]
the ASP.NET Core Tag Helpers will convert it to a local project path, like so:
[code]

The problem is, if the source for the attribute comes from a variable, that conversion doesn't happen. Since our `@Links` are generated with virtual paths, that causes an issue.

This needs investigation and fixing :)

[2017-09-29 11:57] artiomchi commented on #75
OOoooh boy.. That took a lot of going through the aspnet source code (got to learn a bunch of inner workings though, so.. time well spent!). The tag helpers are assigned to specific tags at compile time, rather than at run time, which means `~` urls won't be processed if they come from a variable (i.e. decided at runtime).

You can see these issues for more details: aspnet/Mvc#5003 and [aspnet/Raz

[2017-09-29 12:06] kevinkuszyk commented on #75
I'll put my vote in for option 1.

[2017-09-29 12:18] artiomchi commented on #75
That's probably the easiest solution, and sort of consistent with R4Mvc, even if it looks less... "native".

I'm leaning towards the same option as well, so I'll implement it in the next release. We'll also have a code analysis rule eventually to catch these, and show a hint to the user when they use the `src` attribute

[2017-10-13 21:29] Guymestef opened #76 ".NetCore v2: Cannot convert from 'Microsoft.AspNetCore.Mvc.IActionResult' to 'Microsoft.AspNetCore.Mvc.Routing.UrlActionContext'"
It's probably because AspNetCore v2 is not yet supported...

[2017-10-13 21:33] Guymestef commented on #76
To be a little more precise... It's when we call something like Url.Action(MVC.Controller.Action()) inside the action of a controller ^_^

[2017-10-17 09:42] yaseralnajjar opened #77 "mvc-action not working"
Hi,

I just downloaded the latest package of R4MVC with R4MVC.Tools (1.0.0-alpha1-00187) in an **asp-core 1.1 project**.

Everything works fine till I try to use the tag helper **mvc-action** (it does not show in the same color **asp-for**), and it handles it as a normal html attribute.

If you can't replicate the problem, I can send the project on email.

[2017-10-17 20:19] yaseralnajjar commented on #77
Already sent the project to the author email address.

[2017-10-21 19:34] Guymestef commented on #76
The using Microsoft.AspNetCore.Mvc.Rendering; was missing in my controller file. With it, no more errors...

[2017-10-21 19:34] #76 closed, assigned to nobody

[2017-10-21 19:39] Guymestef opened #78 "Partial views in sub-directories are not available in Views class"
Sample:
Views/Controller/Index.cshtml
Views/Controller/Toolbar/_AdminToolbar.cshtml
Views/Controller/Toolbar/_DefaultToolbar.cshtml

Result:
MVC.Controller.Views.Toolbar doesn't exist.

Expected:
MVC.Controller.Views.Toolbar exists
MVC.Controller.Views.Toolbar._AdminToolbar exists
MVC.Controller.Views.Toolbar._DefaultToolbarexists

[2017-10-26 11:50] themidnightgospel opened #79 "Generate-R4MVC Fails with The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: System.Management.Automation.RemoteException"
**Steps to reproduce**

- Set Startup project Language version to C# 7.1
- Run `PM> Generate-R4MVC `

**Error**

`The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: System.Management.Automation.RemoteException`

**Solution**

Set Startup project Language version to **C# lastest major version(default)**

**Why**

After running

[2017-10-29 15:48] artiomchi commented on #77
One thing you need to do to make the rag helpers work is register the tag helpers in your project. You do this by adding the following to your `_ViewImports.cshtml` file:
[code]

See here for example: https://github.com/T4MVC/R4MVC/blob/develop/src/R4MvcHostApp/Views/_ViewImports.cshtml

[2017-11-23 13:15] wmcainsh opened #81 "Can't find r4mvc.json"
I've installed R4Mvc and R4Mvc.Tools but can't find the config file.

Is this still to be implemented or should it be manually created?

[2017-11-26 12:09] JasonXtreme opened #82 "MSBuild failure"
Running Generate-r4mvc produces the following error:

Failure: Msbuild failed when processing the file '<path_to_project>.csproj' with message: Invalid static method invocation syntax: "[MSBuild]::IsRunningFromVisualStudio()". Method '[MSBuild]::IsRunningFromVisualStudio' not found. Static method invocation should be of the form: $([FullTypeName]::Method()), e.g. $([System.IO.Path]::Combine(`a`, `

[2017-12-05 19:23] mnmr opened #83 "Does not generate valid code when controller method return value is not (I)ActionResult"
Methods that return an explicit JsonResult (or any other IActionResult derivative), the generated code does not compile.

[2017-12-05 19:29] mnmr opened #84 "Invalid characters are not stripped from file names"
Static and view file names are used directly; a file name with a dot (e.g. "foo.mobile.cshtml") thus results in a property named "foo.mobile", which does not compile.

[2017-12-05 19:33] mnmr opened #85 "Spelling error in settings file"
The property "SplitIntoMutipleFiles" is misspelled in the settings file, so anyone reading the docs would not be able to set it to emit to a single file.

[2017-12-05 21:13] kevinkuszyk commented on #85
Thanks for your contributions.  We welcome pull requests if you would like to submit a fix.

[2017-12-05 21:14] kevinkuszyk commented on #82
Thanks for your contribution.  We welcome pull requests if you would like to submit a fix.

[2017-12-05 21:16] kevinkuszyk commented on #81
That file should be there.  @artiomchi any idea what happened here?

[2017-12-05 21:17] kevinkuszyk commented on #79
Thanks for your contribution.  We welcome pull requests if you would like to submit a fix.

[2017-12-05 21:19] kevinkuszyk commented on #77
@0xRumple did @artiomchi's suggestion fix your issue?

[2017-12-05 22:08] JasonXtreme commented on #82
If I manage to get into it and actually find a fix, I'll be sure to let you know.

[2017-12-06 12:10] cortex93 opened #86 "msbuild support"
Hi,

Would be a great addition to support msbuild. The idea will be to add a build/.targets file to the package so that files are generated at build and ensure consistency in CI scenario.

Regards

[2017-12-06 12:51] cortex93 commented on #86
Adding in csproj
`  <Target Name="GenerateR4MVC" BeforeTargets="CoreCompile">
    <Exec Command="dotnet r4mvc" />
  </Target>`

ends in infinite loop.

[2017-12-06 16:09] yaseralnajjar commented on #77
I haven't tried yet... last time I added the package to my project it gave me a CGI error. I will try again once my project is done to get rid of the hardcoded controllers and actions.

But @artiomchi's suggestion seems absolutely right since I haven't added the taghelper in my viewimports.

[2017-12-08 17:20] artiomchi commented on #81
At the moment the r4mvc.json file has to be manually created. All the options in the configuration have defaults, so this file is there for overrides (at the moment).

During the next sprint I'll change the generator so that it creates this file and populates it with current options.

[2017-12-08 17:58] artiomchi commented on #82
Hmm, interesting.. I've just replicated this on my environment, after updating to the latest VS. Seems like they made some changes in the latest MSBuild version. There was an issue in the past regarding identifying the version of VS, so we had to add a workaround for this. It sounds like it should no longer be necessary

I'll get a patch for this asap.

Sorry for the delay, seems like I haven't be

[2017-12-08 18:09] artiomchi commented on #85
Ahh, good catch! Thanks for that

[2017-12-08 18:09] #82 closed, assigned to nobody

[2017-12-08 18:09] #85 closed, assigned to nobody

[2017-12-08 18:18] #57 closed

[2017-12-08 18:20] artiomchi commented on #84
That's certainly not the case with static files (see jquery.validate.unobtrusive.js in the host project), but this issue definitely affects view files.

[2017-12-08 18:20] #84 closed, assigned to nobody

[2018-01-13 16:22] #78 closed, assigned to nobody

[2018-01-13 18:18] artiomchi commented on #77
I'm going to assume that my suggestion pointed you in the right direction, solving the problem.

As such I'm closing this issue - feel free to re-open if it needs further discussion.

[2018-01-13 18:18] #77 closed, assigned to nobody

[2018-01-13 18:23] artiomchi opened #88 "Static resources, use a code analyzer and codefix to use the correct attribute"
Since images pointing to `@Links.[…]` resources have to use the `mvc-src` attribute instead of the `src` one (see #75), we need a code analysis rule to catch those, show a warning and a code fix tooltip to patch them

[2018-01-13 18:23] #75 closed, assigned to artiomchi

[2018-01-13 19:48] artiomchi commented on #79
Hey @tchelidze, sorry, I'm not getting notifications for new issues.

I'm wondering if this was related the the MSBuild issues in their repo. I've recently updated the project with the latest MSBuild packages, and unfortunately I can't reproduce the bug. Could you try again with the latest builds, and tell us if it's still happening?

Thanks, and sorry for the delay in checking this out.

[2018-01-13 20:30] themidnightgospel commented on #79
Hey @artiomchi

Not sure what issue was related, but just updated to latest `1.0.0-alpha1-00211` version and it works.

Thanks.

[2018-01-13 20:35] artiomchi commented on #86
Hmm, definitely an interesting feature.

The reason it doesn't work yet is because the `dotnet` command isn't finished yet, so it can only be triggered using PowerShell, and the PS module has to be imported from the nuget package path.

I'll keep this open until I have the dotnet cli working, at which point we can test it again

[2018-01-13 20:35] artiomchi commented on #86
Waiting for #64

[2018-01-13 22:02] artiomchi commented on #83
To be perfectly honest, while possible, I don't see any good reason to use anything other than IActionResult as a return type. It just restricts the dev's options.

But some people might have a reason to do that, so let's add it! I'd have to add individual classes for each type override, so I'll be adding code for the `ActionResult`, `JsonResult`, `ContentResult`, `RedirectResult`, `RedirectToActi

[2018-01-13 22:12] #83 closed, assigned to nobody

[2018-01-13 23:48] artiomchi commented on #79
Hmm.. Nevermind, I just managed to reproduce it, and it is a real issue!

The exception will only be thrown if the code generator actually tries to change any of the controller generated files. So if the generated files are up to date, everything's fine. Seems like Microsoft's `CSharpSyntaxRewriter` class generates code with the c# 7 syntax by default, not checking what version was set in syntax n

[2018-01-14 00:13] #79 closed, assigned to nobody

[2018-01-19 18:13] valeriob commented on #73
I pointed him to this project because i think that aspnet core should have THIS way to generate links in the framework 😄
And i asked him to find some help to help the project grow 😄

[2018-01-24 09:59] valeriob opened #89 "MsBuild Failure FindDependenciesOfExternallyResolvedReferences parameter not supported"
Running Generate-r4mvc in a machine with just VS 2017 15.6.0 preview 2  produces the following error:

The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop:   Failure: Msbuild failed when processing the file 'C:\blalbla\ProjectWeb.csproj' with message: C:\Program Files (x86)\Microsoft Visual Studio\Preview\Enterprise\MSBuild\15.0\Bi

[2018-01-24 10:28] valeriob commented on #89
I uninstalled VS 2017 15.5 (so only the preview remains installed) and started failing, so there is definitely some interference between the two :(
I tried in another machine, now it fails even with vs 2017 15.5 installed.

[2018-01-24 22:48] artiomchi commented on #89
Oh man, not again! I thought we were done with this with the 15.5 beta release!

Initially it was an issue with the MSBuild assembly. I wonder what's up with it this time.

Don't want to compromise my main machine, so I'll set up a temp VM where I will try to replicate it and see what's up.

I see your #90 PR, but I don't want to merge it straight away before I check what's up with the issue first

[2018-01-25 05:58] valeriob commented on #89
Ofc ! 😀

[2018-02-06 07:49] valeriob commented on #89
Hi @artiomchi did you reproduce it ? i could really use that update 😄

[2018-02-07 12:34] artiomchi commented on #89
Sorry, I can't believe I got stuck for two weeks!

Umm, I just set up an environment with VS 2017 15.5.6 + 15.6 preview 3, but I can't reproduce the issue.

I wonder if it's something relating to your project specifically, or an issue with preview 2 that they fixed?

Very sorry that it took so long. At least I fixed my github notifications, so now I'm actually getting my emails!

If it still doesn

[2018-02-07 13:01] valeriob commented on #89
Hi @artiomchi no problem at all 😄
I just did file new project, added r4mvc tools 1.0.0-alpha1-00211 and it fails with
The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop:   Failure: Msbuild failed when processing the file 'C:\Users\vborioni\Source\Repos\WebApplication3\WebApplication3\WebApplication3.csproj' with message: C:\Progra

[2018-02-07 18:26] artiomchi commented on #89
Well that's weird. I just created a new project in the VS Preview, and it worked perfectly fine. Seems like VS preview builds are causing some corruption with the build runtime again.

Unfortunately, I still can't reproduce it, as it seems like this is a problem with your local environment.

Let's see if it's related to the issue they had last time or not. Try setting the `VSINSTALLDIR` environmen

[2018-02-09 06:59] artiomchi commented on #89
Hey @valeriob

I can see that the final preview build of VS just came out yesterday. Could you take a look if that release fixes the issue as well?

[2018-02-09 08:59] valeriob commented on #89
Hi @artiomchi i tried latest version, this is the output from any vs (both 2017 and preview):

Project path: E:\GitHub\R4MVC\src\R4Mvc.Tools\..\R4MvcHostApp\R4MvcHostApp.csproj
MSBuild loaded assemblies (stage: clean workspace):
  Microsoft.CodeAnalysis.Workspaces: 2.6.0.0 from E:\GitHub\R4MVC\src\R4Mvc.Tools\bin\Debug\net462\Microsoft.CodeAnalysis.Workspaces.dll
  Microsoft.CodeAnalysis: 2.6.0.0

[2018-02-23 19:30] artiomchi opened #93 "Feature folders support"
As far as I can see, there's no official out of the box support for feature folders in asp.net core mvc, but the framework is extensible enough that many people came up with a simple pattern on how to make it work (see [this](http://codingsight.com/asp-net-core-mvc-feature-folders/), [this](http://kurtdowswell.com/software-development/asp-net-core-mvc-feature-folders/) or [this](https://msdn.micro

[2018-02-23 19:31] artiomchi commented on #93
The implementation might have to wait for a little bit, as I'm finishing the structural changes needed for alpha1 .1 milestone, so it's a great time to gather feedback and make a plan.

@valeriob could you take a look and tell me what you think on this?

[2018-02-23 20:47] valeriob commented on #93
I'm doing features folders since mvc is out, and i never felt the need of anything more than T4MVC offers.
I usually do features folders inside areas, and often on the root, but i just have one or two of them.

![image](https://user-images.githubusercontent.com/1522516/36615808-cdc936da-18e1-11e8-9be9-ebffbbf5d19f.png)

I'm using this approach on 5/6 aspnet core projects right now, and i only miss

[2018-02-24 01:03] artiomchi commented on #93
Nevermind, I wrote that post on the way back after work!

Just read a bit more about feature folders, and checked out some examples, and I see that my suggestion about the Feature prefix is just plain wrong :)

The reason your PR confused me even more is because of how you used them there. You seemed to apply area names in both added controllers, to make your "feature" folders work. But that's not

[2018-02-24 01:06] artiomchi commented on #93
P.S. I forgot to add @davidebbo and @kevinkuszyk  to the discussion to get their opinion on how we should handle feature folders. I can see that they're supported in T4MVC and is used in a similar way. I'm sure they might have some gotchas and tips based on their experience with implementing it

[2018-02-24 11:36] valeriob commented on #93
I would not call things standard or not, the only thing i made different in the example is that i did not group all areas together in the same folder. The purpose of feature folder is to align the code base with business needs, my business do not have the "Areas" concept, it's useless, but never mind, let's keep this container for the folder structure.

I'm sorry but i did not understand this sent

[2018-02-24 19:39] artiomchi commented on #93
Hmm, I understand how the feature folders work in asp.net, and I agree that we should add it. I'm not a fan of rushing features though and fixing it later, but that's a separate discussion :)

Regarding the folder structure, I don't think that's how feature folders are supposed to work. I also don't think you should mix up the areas and feature folder concepts. They're separate things, and can be

[2018-02-24 21:30] artiomchi commented on #93
By the way, I just made several changes to add some rudimentary feature folder support to r4mvc in a feature branch. It works quite well, but only supports the folder structure above. There are a couple other patterns that people use (like putting all the view files into a `Views` folder within the controller feature folder, or grouping multiple features in a "feature group" folder, which is not s

[2018-02-25 11:03] valeriob commented on #93
Hi @artiomchi thanks for thinking about this, those are my considerations, sorry for the long post, but i really care about this 😄

Exactly my point, and that's why i think r4mvc should make nothing different than usual, but should look for views and static files whererever they are and provide static links, so everyone can make the folder structure thye want.

I've never seen the "Features" folde

[2018-02-25 15:16] artiomchi commented on #93
Hey,

Oh wow.. So this is going to be long. Let's start with the fact that your post has a LOT of misinformation and misleading statements, both about T4MVC, the way R4Mvc works and feature folders themselves.

I would REALLY appreciate some input from the project owners @davidebbo and @kevinkuszyk, both in terms of their experience with this and as mediators 😄

I'm.. not? I've just opened a discu

[2018-02-25 18:08] davidebbo commented on #93
@artiomchi I was involved in T4MVC (not so active anymore), but not in R4MVC. As much as I would have liked to, I just have too many other priorities to make useful contributions on this one.

[2018-02-26 08:33] valeriob commented on #93
I'm sorry if i looked like uproductive, it's not my goal :D

**TL;DR;** I'm fine with any implementation you prefer, that let the user some leash and do not hurt productivity, i' can live with the "Feature" root folder, but i do not agree with that choice.

I do not think that something is right just because ppl do it in a particular way 😄, i prefer to use my own brain and experience, and there is

[2018-02-26 21:36] kevinkuszyk commented on #93
@artiomchi @valeriob wow, there's a lot here.

To be honest, I haven't used feature folders in my MVC projects, so I don't think I'm best placed to comment on usability etc.  However, I'm aware of the concept and have seen that we have support for it in T4MVC.

My guiding principles for adding features would be:

- is there a demand from users for a feature?
- can users can opt in without degradin

[2018-02-27 23:16] artiomchi commented on #93
Hi @kevinkuszyk

I think we are finally sorting it out, and are mostly on the same page now. At some point the discussion felt like it was getting heated, but I'm glad it didn't :)

Thanks for your input - I was following pretty much the same logic on this.
I'd also add one more point to your list:

- Will the library's default behavior match the framework's defaults?

The answer to all these poin

[2018-02-28 00:01] artiomchi commented on #93
Hey @valeriob,

I can certainly understand your frustration. I think you misunderstood me in a couple places. While I do think that the Features folder has to be present for root controllers (besides, t4mvc works in the same way), I was planning to implement area support that have feature folders in the root of the area. Like I mentioned above, I already added a setting for it, I just didn't have

[2018-02-28 08:35] valeriob commented on #93
ok, i'll leave you at that, tell me if you need some help even if i do not agree on some decisions 😄

I do not agree. If you would like to behave like the framework you should tap into RazorViewEngineOptions and asks for configured paths. "Feature folders" as a feature (i'm sorry for the names) means keep things together, so i think that a tool supporting this use case should take this into consid

[2018-03-06 15:55] artiomchi commented on #89
Heya,

So VS 15.6 was finally released and I just tested R4Mvc with it, and it is still working perfectly fine. Either it was an issue limited to your environment or something with the RC build of VS (which I couldn't replicate either).

Also it's possible that the commit above has fixed the issue too.

In either case, the issue seems to no longer be there, so I'm closing this.

If it's still happ

[2018-03-06 15:55] #89 closed, assigned to nobody

[2018-03-06 18:51] BrianSchroer opened #94 "Add tag helper registration instructions to documentation"
It took me a while to figure out that I had to add `@addTagHelper *, R4Mvc` to _ViewImports.cshtml.

It looks like I'm not the first to have difficulty with that (see [issue 77](77)).

I've submitted a pull request to add instructions for that to the README.

[2018-03-06 22:19] artiomchi commented on #94
Absolutely! I really should have gotten to that earlier.

I'll try update the installer script to add that automatically on package install, actually :)

[2018-03-06 22:19] #94 closed, assigned to nobody

[2018-03-11 18:36] artiomchi commented on #63
Recently completed

[2018-03-11 18:36] #63 closed, assigned to artiomchi

[2018-03-11 18:57] artiomchi commented on #4
Looking at the state of the project right now, we didn't need the root namespace of the project anymore, so seems like this is no longer needed. As such, I'm closing this

[2018-03-11 18:57] #4 closed

[2018-03-17 15:05] paulmrozowski opened #96 "Member names cannot be the same as their enclosing types"
After running the template generation process and compiling, I'm getting the error in the title.

Here's the library causing this:

[code]

The error is on this line:
[code]

Kind of weird considering other classes work just fine.

[2018-03-19 11:14] #96 closed, assigned to nobody

[2018-03-19 14:25] artiomchi commented on #96
Very good point.

I've deployed a patch earlier today to handle this. It's currently available in the CI MyGet repo.

Until it's deployed to NuGet, and if you can't use the CI builds, you could rename the field manually after the generation as follows (this is the new name the patch above will give to this field):

[code]

[2018-03-20 09:23] #61 closed, assigned to artiomchi

[2018-03-20 09:25] artiomchi commented on #81
This was now implemented, and is present in the CI build.

[2018-03-20 09:25] #81 closed, assigned to nobody

[2018-03-20 22:24] #65 closed, assigned to artiomchi

[2018-04-18 13:27] MichaelCave commented on #58
Quick Question, I am using .Net Framework 4.6.1. SHould I use R4MVC or T4MVC or is R4MVC the natural successor of T4MVC?
THanks

[2018-04-18 15:31] artiomchi commented on #58
It's not really about the .NET framework that you're using - the question is whether you're using ASP.NET or ASP.NET Core? While similar, the latter is a completely different application framework that's been written from scratch.

In the first case you should use T4MVC, and if you're using ASP.NET Core (whether it's .NET Framework or .NET Core) you should use R4MVC

[2018-05-03 09:56] dealdiane opened #97 "Razor pages support"
I know it's probably very new and not a lot of people are aware of it at the moment but it would be nice to start considering this now since it will ship with the next version (2.1) of aspnetcore.

[2018-05-03 10:40] kevinkuszyk commented on #97
Thanks for the suggestion.  I haven't used Razor pages, so I'm not sure how this would work.  If you could post some use cases here, that would be useful.

We also welcome contributions if you'd like to open at PR which adds this!

[2018-05-10 12:28] valeriob opened #98 "Consider removing package dependencies from the R4Mvc.Tools project"
Adding r4mvc.tools to aspnet core 2.1 rc1 project it causes package conflict that is not really needed.
I think it should be very quick fix to remove all the dependant packges from r4mvc.tool nuget package because it does not need them to run.

NU1107: Version conflict detected for Microsoft.CodeAnalysis.CSharp. Reference the package directly from the project to resolve this issue.
 OnRtls.Web ->

[2018-05-15 07:35] valeriob opened #99 "Not working with dotnet sdk version 1.2.200 and 1.2.300-rc1"
If you create a new aspnet core application, add r4mvc version 1.0.0-alpha1-00260.
If you have dotnet core sdk 1.2.300-rc1 the generation fails with

The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop:   Failure: Msbuild failed when processing the file 'C:\Users\vborioni\Documents\Visual Studio 2017\Projects\R4mvSdkProblem\WebAppl

[2018-05-20 15:33] #99 closed, assigned to nobody

[2018-05-20 15:35] artiomchi commented on #99
Damn, it's frustrating that they keep messing with MSBuild and it's pretty much impossible to come up with a stable long term strategy for projects that depend on it, other than having to continuously to update to the latest pre-release versions every time they have a larger release!

[2018-05-20 15:39] artiomchi commented on #98
This is actually a pretty interesting one.

The way the tools project works right now is by taking the full output of the project, including all the dependant libraries, to run the build.

Ideally, the project should be pulling them from NuGet on the developer's side - this would have two major benefits:

1. We wouldn't have to bundle MSBuild with R4Mvc.Tools (so the package would be considerably

[2018-05-20 15:49] artiomchi commented on #97
@dealdiane Actualy, Razor Pages have been live for quite a while, from the initial release of aspnetcore 2.0!

There's a couple reasons why they're not in R4Mvc yet. Mainly they're not used as extensively as MVC controllers, and the project started as a T4MVC migration. So the Pages support was lower on the priority list.

Razor Pages have their own routing system as well, which is different to th

[2018-05-21 06:37] valeriob commented on #99
I wanted to ask you about that.
How does it actually works ? why does a self contained app need to keep up with vs ? What's the interaction ? Would'nt any app just load msbuild dlls and parse the project structure ?
When does vs comes into play ?
Thanks

[2018-06-01 21:10] Guymestef opened #101 "Publish a nuget package with the fix for #99"
Hello,

Can we publish a new alpha version?
Currently R4MVC cannot work with dotnet core sdk 1.2.300 and the fix #99 of @valeriob for the version 1.2.300-rc should fix this, no?

[2018-06-06 09:33] artiomchi commented on #101
Oh shoot, of course! I thought I pushed the merge to the alpha branch, but I clearly forgot to do it.

Also, for some reason I keep not getting the GitHub notifications in my main mail account, so I just noticed this issue, sorry.

I just pushed the latest build to NuGet, so it should be available shortly

[2018-06-06 09:33] #101 closed, assigned to nobody

[2018-06-06 09:38] artiomchi commented on #99
Heya, I never said anything about VS. It's MSBuild that we need to use - so that's why we need to update to the latest version every time.

If R4Mvc was a VS plugin, we could just use VS's build system. But since we're running a command line app, we need MSBuild. And a number of other libraries as well.

The idea was to try and make this tool cross platform, so we need to get MSBuild from NuGet, n

[2018-06-06 09:57] valeriob commented on #99
Ok, so the problem is the interaction with msbuild plugins in dotnet sdk ?
If so maybe it's possible to use msbuild of the sdk instead of downloading or bring your own.

[2018-06-07 21:30] artiomchi commented on #99
@valeriob Nice job opening that issue in dotnet/sdk! They pointed us in the right direction, and we don't have to bundle msbuild anymore!

I've deployed a new alpha version to NuGet, since this is a great change, which should let the app work in any environment :D

[2018-06-08 07:28] valeriob commented on #99
Very good, i was about do do the pull request, but it's very trivial, thanks.
I still hope to be able to discover both dotnet sdk msbuild instance and visual studio one to lower the requirements.

[2018-06-24 17:00] artiomchi commented on #98
So I've been looking more into this, and went again through some of Microsoft's documentation.

Since we bundle all assemblies alongside our executable, our NuGet package doesn't need to reference it's dependencies - it's self container. And the new csproj format has a very simple way of specifying this.

So the next build of R4Mvc.Tools won't have any package dependencies, which should stop the a

[2018-06-24 17:00] #98 closed, assigned to nobody

[2018-06-25 06:58] valeriob commented on #98
Exactly, thanks !

[2018-06-25 11:59] kevinkuszyk opened #102 "We've blown the storage on the MyGet feed"
Hey @artiomchi, I had an email the other day from MyGet saying that we've burnt through the 500MB of storage we have there (we're now at 650MB).

Any objections if I cull some of the older packages, and add a package retention policy?  I was thinking keep the last 20 versions, but don't delete if someone has downloaded it?

[2018-06-25 11:59] kevinkuszyk commented on #102
http://docs.myget.org/docs/reference/package-retention

[2018-06-25 12:04] kevinkuszyk commented on #102
I've also applied for an OSS subscription which will give us 1GB storage.

[2018-06-25 12:42] artiomchi commented on #102
Oh wow, I didn't even think that there would be a limit, but it does make sense!

Sure, that policy makes sense. It'll be a good start at least, and we'll see how soon we fill up the space again after that :)

[2018-06-27 13:31] kevinkuszyk commented on #102
We're now back on the OSS subscription, so we have 1GB of storage.

The retention policy is working too, so we down to 317MB of storage used.

[2018-06-27 13:31] #102 closed, assigned to nobody

[2018-07-08 21:39] artiomchi opened #103 "R4Mvc.Tools migrating to a dotnet cli tool!"
This has been a long time coming, but I've finally made progress with it.

The main issue was that the cli tools had to be written in .net core. In the tools project, we're using MSBuild, which still isn't accessible from .NET Standard (there are some discussions about it, but no progress as of now).

Recently Microsoft released .NET Core 2.1, which brought support for global tools. This means you

[2018-07-08 21:40] artiomchi commented on #64
There's some progress with running r4mvc as a cli tool. There's a discussion open in #103 in terms of how to proceed, and an example on how to test the first build

[2018-08-23 20:44] jlddodger opened #105 "Compile Error when controller action is conditionally compiled for debug"
If the project uses a conditional compilation symbol, it isn't clear how the R4MVC is aware of what symbols should be defined.  In my case it appears that DEBUG is defined for list controllers/actions, so when I build release I get errors failing to override the excluded actions.

[code]
[code]

[2018-08-31 09:58] artiomchi commented on #105
That's.... an interesting one

The way R4Mvc is checking what's in code is by analysing the code presented by the code analysers. I'll have to look and see if it's possible to identify preprocessor directives, but even if it is - I'm not sure what would be the correct course of action here.

Thinking what you're trying to achieve here - you don't want the Index action to be present in the release

[2018-08-31 13:09] jlddodger commented on #105
Yeah.  That would work.  I missed that attribute.  Currently the attribute only functions on controller classes.  Would it be possible to have the attribute for individual actions?

[2018-08-31 14:26] artiomchi commented on #105
Oh.. DAMN, you're right?

/facepalm

Sorry, of course. I'll patch that as soon as I can, sorry for that

[2018-08-31 15:17] jlddodger commented on #105
Cool.  Thanks for the response.  I can get by for now by excluding whole controllers or moving individual actions, but it'll be easier with an action attribute.

Thanks!

[2018-09-01 14:46] #105 closed, assigned to nobody

[2018-09-01 14:55] artiomchi commented on #103
As there were no feedback on this for over a month and a half, I'll proceed with adding it as a separate Cli package. This way we have both backwards compatibility, and users have the option to pick their approach.

If at some point we decide that the Powershell approach is wrong, we can always stop updating the package and delist it.

[2018-09-06 12:33] jack128 opened #106 "R4Mvc Does not work in multitarget projects"
"does not work" mean "does not generate XXXController.generated.cs  files".

Example of project:

[code]

[2018-09-06 13:41] artiomchi commented on #106
This is actually already known, but wasn't the highest priority, since nobody actually used multi-targeting (or reported to so far) :)

I'll close this issue, since this is a duplicate of #66
You can track the progress there. I'll try to prioritise this, and hopefully get something working before the next release!

[2018-09-06 13:41] #106 closed, assigned to artiomchi

[2018-09-12 07:24] jack128 opened #107 "Add supports ActionResult<T> as action result type"
Hi.

I thinks it's easy to add this feature, just add this line

[code]
in AddMethodOverrides method

[2018-09-12 09:36] artiomchi commented on #66
So, there's no perfect solution for this just yet, but I just came up with a pretty decent workaround that will let people use R4Mvc in their multi-targeted projects!

To do this, you'll have to change your csproj file to only use one framework when the project is built by R4Mvc using a build property, like follows:

[code]

Your regular builds won't be affected, but R4Mvc will be able to handle i

[2018-09-12 09:38] artiomchi commented on #106
Hey @jack128, we've got a decent solution to this, mentioned in the main issue. I'll be releasing it to NuGet soon, but you can already pick it up from MyGet :)

Would love to hear back to see if it works for you as well

[2018-09-12 09:39] artiomchi commented on #107
Hey, that's a great point. I was going to make a release pretty soon with some other changes, I'll try to squeeze that in!

[2018-09-12 09:57] jack128 commented on #107
Actually also need to add overload
protected RedirectToRouteResult RedirectToAction(IConvertToActionResult result)

[2018-09-13 08:25] valeriob opened #108 "Question about AspNetCore 2.2 and Endpoint Routing"
How does it impact r4mvc ?
Maybe it's an opportunity to cleanup some code ?
https://blogs.msdn.microsoft.com/webdev/2018/08/27/asp-net-core-2-2-0-preview1-endpoint-routing/
They say it's very much in flux, maybe it will better polished with aspnetcore 3.0.

[2018-09-16 12:11] artiomchi commented on #108
That's an interesting change. It won't change R4Mvc's internals much, since we only end up generating links at the very last stage, where it's requested. And at that point, we aready have an easy access to the `IUrlHelper`.

The nice thing that we can do is add additional extension methods to the `LinkGenerator` class, so that developers can use R4Mvc in middleware classes as well.

[2018-09-16 12:13] artiomchi commented on #66
Moving this to v1 Backlog, since we now have a workaround in place, which makes the current library usable in multi targeted projects

[2018-09-17 20:19] artiomchi commented on #13
Instead of timestamping files, it might be better to adhere to existing asp.net mvc core approaches.

In this case, it seems like instead of adding a global setting to timestamp ALL scripts/files, this can easily be done with the **existing** mvc tag helper:

[code]

[2018-09-17 20:21] artiomchi commented on #13
The `ProcessVirtualPathDelegate` already exists. It doesn't remove the tilde from the url, since this is done by the tag helper, but it can still be used to add query string params

[2018-09-17 21:26] artiomchi opened #109 "Expired NuGet API keys"
Hey @kevinkuszyk,

Since I don't have any other way to contact you, I'll open an issue :)

Seems like the API keys you issued for NuGet have expired. Could you double check that, and generate new keys, encrypt them in the AppVeyor account, and update the appveyor.yml file with the new secured key?

Also, the latest cut is going to add another package that we'll be publishing to NuGet. Could you ad

[2018-09-18 08:56] kevinkuszyk commented on #109
Hello there!

Apologies for the expired API key.  I've just pasted a new one into the `appveyor.yml` in the `develop` branch.

I've also created a R4MVC org on nuget and added you as an admin.  Fyi - you were already listed as a package owner in nuget.

Feel free to ping me when the new package is published, and I'll add it to the org if it doesn't go in automatically.

[2018-09-18 09:09] kevinkuszyk commented on #109
And an update - I just spotted how to create a nuget api key for an org account - so I've switch the `appveyor.yml` over to use an api key owned by the R4MVC nuget org.

As you're an admin of the org, you should be able to manage it, and the new package will be owned by it, so it should all "just work".

[2018-09-18 09:29] artiomchi commented on #109
As far as I remember, NuGet doesn't let us create non expiring keys, so when the current one expires, I might ask you to secure it in the AppVeyor account again :)

Great news otherwise, thanks for setting it up!

I just merged dev to the prerelease branch, and the deployment went ahead and published the new versions on NuGet!

[2018-09-18 09:29] #109 closed, assigned to kevinkuszyk

[2018-09-18 09:34] kevinkuszyk commented on #109
No probs.  As always, ping me if you need a hand with it next time.

[2018-09-19 13:50] artiomchi commented on #103
The CLI tool is now live, and can be installed from NuGet:
[code]

I've also updated the docs with details about it's usage

[2018-09-19 13:50] #103 closed, assigned to nobody

[2018-09-19 13:51] artiomchi commented on #86
The CLI tool just recently went live, so this is now possible.

If the cli tool is installed globally, it's as simple as this:
[code]

If the tool is installed locally, you'll have to add the tool path, of course.

[2018-09-19 13:51] #86 closed, assigned to nobody

[2018-09-19 13:53] artiomchi commented on #64
The new cli generator tool is now live. You can check the updated documentation for details in how to use it: [Intallation instructions](https://github.com/T4MVC/R4MVC/wiki/Installation)

[2018-09-19 13:53] #64 closed, assigned to artiomchi

[2018-09-19 13:56] artiomchi commented on #62
Since the main tool has been moved to the cli (instead of powershell), and the full config is now automatically written to r4mvc.json, I don't think there's any need for the status command anymore, so I'm closing this

If anyone thinks this might still be useful, you're welcome to re-open this issue :)

[2018-09-19 13:56] #62 closed, assigned to artiomchi

[2018-09-19 13:59] #71 closed, assigned to nobody

[2018-09-19 13:59] #73 closed, assigned to nobody

[2018-09-19 20:10] artiomchi commented on #107
Pretty much on point :)

I just had to add a whole bunch of extension methods to the `R4Mvc` project, and make it only available on newer frameworks

[2018-09-19 20:10] #107 closed, assigned to nobody

[2018-10-04 01:04] gmoneh opened #110 "virtual keyword added to override method"
Suppose you have controller DerivedController which derives from BaseController. BaseController declares a virtual action method public virtual ActionResult VirtualAction(), which DerivedController proceeds to override via public override ActionResult VirtualAction().
After generating R4MVC, the method in DerivedController is changed to public override virtual VirtualAction(), which is obviously i

[2018-10-17 08:50] artiomchi commented on #110
Sorry that I didn't have time to check in and take a look at the issue myself. And thanks for submitting a PR to fix it!

I'm close to finishing support for Razor Pages, and I'll make a new release soon after that, which will include this patch!

[2018-10-17 08:50] #110 closed, assigned to nobody

[2018-10-17 15:37] gmoneh commented on #110
That's alright, glad to contribute. That's what open source software is for, right?

[2018-10-19 10:39] artiomchi opened #112 "Validate the version of the installed R4Mvc library, consider updating it?"
Currently, when you update the `R4Mvc.Tools` project and run the generator, you might get into a situation where your referenced `R4Mvc` project is out of sync, which will bring some compilation issues.

It would be nice if we could update it automatically

[2018-11-16 11:10] matthewblott opened #113 "Cross Plaform"
I'm not sure if this is an issue or a feature request. I installed ```R4Mvc.Tools``` on macOS and get the following error when I run the ```r4mvc``` command.

[code]

I noticed [this](https://github.com/T4MVC/R4MVC/issues/1#issuecomment-305751818) comment  in issue [#1](https://github.com/T4MVC/R4MVC/issues/1) it says there's a dependency on ```MSBuild``` which wasn't cross platform at the time (b

[2018-11-20 13:33] artiomchi commented on #113
Hi Matthew,

Unfortunately this is still the case.
While the dotnet compiler is cross platform, they don't have a simple way to programatically load a project in your own code and compile/analyse it.

Currently this is done using the [Microsoft.CodeAnalysis.Workspaces.MSBuild](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Workspaces.MSBuild) package, which is compiled against .NET 4.6, ins

[2018-11-20 15:12] matthewblott commented on #113
Thanks for the response @artiomchi :-)

[2019-01-27 00:03] mmoore99 opened #114 "Support for web API controllers in asp.net core?"
I have an asp.net core project that includes Web API controllers that inherit from `ControllerBase`, for example:

[code]
R4MVC does not seem to recognize these controllers and does not generate code for them. Is this intentional? If I change the code to inherit from `Controller` instead of `ControllerBase` R4MVC includes the controller.

 Is there any way to force R4MVC to include these controlle

[2019-02-04 17:53] kevinkuszyk commented on #114
Hello @mmoore99, thanks for the question and apologies for the delay in getting back to you.

Does your `ControllerBase` derive from the MVC's `Controller` class?  If so it sounds like we have a bug in the code which discovers controllers:

https://github.com/T4MVC/R4MVC/blob/develop/src/R4Mvc.Tools/ControllerRewriter.cs#L51-L55

If not, then it sounds like we have a gap in our discovery logic.  F

[2019-02-04 22:14] artiomchi commented on #114
Hi Mike,

That's a very good ovservation! Seems like we've missed the fact that for WebAPI controllers, you don't have to inherit from the full controller, as inheriting from `ControllerBase` is enough.

I'll update the codebase to look at the base class instead.

Note: The `[ApiController]` attributes are mostly used to enhance some API behaviours, but I don't think they'd affect R4MVC, since the

[2019-02-15 11:01] matthewblott commented on #113
@artiomchi did you get any further success trying Buildayzer again?

[2019-02-16 11:45] Guymestef opened #115 "Cannot execute generate command if referencing a package targeting another framework"
Hello,

I've migrated a project from .net 4.6.1 to .net core 2.2 and it remains an reference to an old package targeting only .net 4.6.1.
I can't execute the generate command because it detects the wrong targeted package as a failure instead of just a warning.
So the following code stop the generation:
[code]
I've workaround the problem by targeting .net 4.6.1, generating, re-targeting .net core 2

[2019-02-16 11:45] artiomchi commented on #114
I forgot to mention that after releasing a patch in the CI build, I pushed a new build to NuGet that has this patch deployed.

Could you take a look and confirm that it's working for you as well, @mmoore99?

[2019-02-16 11:52] artiomchi commented on #115
Hmm, yeah, adding a force parameter could be done, but it'll have it's own issues. Specifically - if the compilation fails, some classes end up not being available to the build engine.

For example, if a controller class fails to build and I ignore the error, R4Mvc won't even see the controller, and will end up removing the generated partials classes from the project :)

I can still see the benefi

[2019-02-16 12:24] Guymestef commented on #115
All the projects in my solution are targeting .netstandard2.0 except the web project that is targeting .netcoreapp2.2
The web project as a package reference to the nuget package mangopay2-sdk (no .net core version available, only .net 4.6.1)

When I build with "dotnet build":
- I have a warning reporting that my web project target .netcoreapp2.2 but mangopay2-sdk target only .net4.6.1
- The build

[2019-02-17 22:05] artiomchi commented on #97
So far I've been using in (in somewhat simple scenarios, admittedly) since it went live, and it's been working quite well!

I've just added two small bugfixes, but unless there are any issues or anything missing, I believe this is OK now

[2019-02-17 22:05] #97 closed, assigned to nobody

[2019-03-19 09:30] valeriob opened #116 "Does not seem to work with vs 2019 RC2"
I have installed both vs2017 and vs2019,

![image](https://user-images.githubusercontent.com/1522516/54594941-f70a2180-4a31-11e9-86fd-f5beef864c70.png)

[2019-04-02 04:24] dealdiane opened #118 "Generator fails with "No Visual Studio instances found""
Project is targeting netcoreapp2.2 and sdk 2.2.105. Tried both the cli and nuget generators but both give out the same error message:

"No Visual Studio instances found. The code generation might fail"

The project used to target netstandard1.6 and was referencing an older version R4MVC which worked until the upgrade.

I'm on VS2019 15.9.7 if that makes a difference.

Any ideas?

[2019-04-02 08:54] valeriob commented on #116
Hi,
can you generate a build for #117 pls ?

[2019-04-02 10:03] artiomchi commented on #116
Absolutely.

I didn't merge it because I thought you said the patch didn't work?

[2019-04-02 10:11] artiomchi commented on #116
I can see that you've been using .NET Core 3.0 preview in your build, so I updated the rest of the packages in the Tools project, and am pushing that to NuGet.

Let me know if that gets your build to work again

[2019-04-02 10:14] artiomchi commented on #118
Hi @dealdiane

That's a bit strange. Could you try running this command in the cli, and let me know what's the output?
[code]

Also, I just pushed a new build to NuGet that has an updated VS Locator (to try get it to support the new VS 2019)

[2019-04-02 11:42] valeriob commented on #116
Sorry if i made some confusion, the patch works 😄

[2019-04-02 12:25] artiomchi commented on #116
Oh right, cool! Thanks for letting me know :)

[2019-04-02 12:25] #116 closed, assigned to nobody

[2019-04-02 22:35] dealdiane commented on #118
Same thing with the latest version.

Here's the output:
[code]

[2019-04-02 23:01] dealdiane commented on #118
I figured this has nothing to do with `R4MVC` but rather with `Microsoft.Build.Locator`.

I remember pausing a recent VS update - and eventually cancelled it. VS installer says I have that version installed which isn't true so I figured that could be the issue (corrupt install state?). Updating to the latest version to fix the corrupt install state fixed the issue.

For reference, this issue point

[2019-04-02 23:01] #118 closed, assigned to nobody

[2019-04-16 07:37] valeriob opened #119 "R4MVC fails on msbuild warnings"
Hi,
i'm porting an aspnet mvc project to aspnetcore, and it's using some library on witch i have no control on, it fails on msbild warning :

I know about the warning, the compilation step tell me that, but i want to ignore it on generating r4mvc, it should really not interfeere.
Do you know any switch on msbuild to suppress this ? I guess like the compilation does, because i can make an aspnetcor

[2019-04-23 09:22] valeriob commented on #119
@artiomchi do you have any idea ? 😄
I tried to ask the same question to the msbuild repo : https://github.com/Microsoft/msbuild/issues/4314

[2019-04-23 18:30] artiomchi commented on #119
Hey @valeriob, sorry I'm a bit away, so didn't get to check this out. By the way, this is a duplicate of #115, so I'll close this and update the issue there with a solution

[2019-04-23 18:30] #119 closed, assigned to nobody

[2019-04-23 18:30] artiomchi commented on #119
Duplicate of #115

[2019-04-23 22:51] artiomchi commented on #115
Hey @Guymestef, @valeriob

Sorry it took so long.. I got swamped with some IRL stuff, and to be frank - forgot to finish this up.

Since this issue was opened, RestSharp released a .NET Standard version, but the underlying problem still stands. I believe it's an issue with the msbuild workspace. Even though this is thrown as a warning during the project build, the workspace handles this as an erro

[2019-04-29 07:51] wind170 opened #120 "support generate controller basetype members until Microsoft.AspNetCore.Mvc.Controller"
suggest code append: (ControllerGeneratorService.cs)
...
            var controllerMethodNames = SyntaxNodeHelpers.GetPublicNonGeneratedControllerMethods(controller.Symbol).Select(m => m.Name).Distinct().ToList();
            var baseType = controller.Symbol.BaseType;
            while (baseType != null && baseType.ToString() != "Microsoft.AspNetCore.Mvc.Controller")
            {

[2019-04-29 08:00] #120 closed, assigned to nobody

[2019-05-14 04:46] mysteryx93 opened #121 "Path names way too long"
When I add R4MVC to my ASP.NET Core 2.2 project to access Razor pages, I get generated page names like this

Pages.C__Spiritual_Self_Transformation_WebsiteCore_RemoteHealingTech_Areas_Account_Pages_Lockout

Is this the intended behavior?

[2019-05-19 12:21] artiomchi commented on #115
Since this seems to be a working solution for you, I'm closing this issue

[2019-05-19 12:21] #115 closed, assigned to nobody

[2019-05-27 06:53] tombauto opened #122 "'R4Mvc_Microsoft_AspNetCore_Mvc_ActionResult' does not contain a definition for 'InitMVCT4Result'"
Compile issue in Visual Studio

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1061	'R4Mvc_Microsoft_AspNetCore_Mvc_ActionResult' does not contain a definition for 'InitMVCT4Result' and no accessible extension method 'InitMVCT4Result' accepting a first argument of type 'R4Mvc_Microsoft_AspNetCore_Mvc_ActionResult' could be found (are you missing a using directive or an assem

[2019-05-27 13:50] artiomchi commented on #121
Hi @mysteryx93
Interesting, it shouldn't create the full path for the file, unless your project file is not within the same root as your page file.

I'm guessing your page file is stored in `C:\Spiritual Self Transformation\WebsiteCore\RemoteHealingTech\Areas\Account\Pages\Lockout.cshtml`

Based on this path, I'd expect your project file to be in `C:\Spiritual Self Transformation\WebsiteCore\Remot

[2019-05-27 13:51] artiomchi commented on #122
Hi @tombauto

Did you also add a reference to the [R4Mvc](https://www.nuget.org/packages/R4Mvc) library in your project?

[2019-06-03 07:41] misam2ali opened #123 ".Net Core 2.1 - Generate-R4MVC command gets stuck in VS 2017 Package Manager Console"
On installing R4MVC tools,  when i run `Generate-R4MVC` in Package Manager Console, it is unable to load the project and gets stuck without throwing any errors/messages.

Generate-R4MVC
 R4Mvc Generator Tool v1.0.0-alpha2-00339

Using: Visual Studio Professional 2017 - 15.9.28307.665
Project: C:\WebCore\WebProject\src\Presentation.Web.Core\Presentation.Web.Core.csproj

Creating Workspace ...
Loadi

[2019-06-28 08:58] ceccacecca opened #124 "R4MVC configuration tweak"
Hi, I would like to add the "StaticFilesFolders" field to my r4mvc.json configuration file, but I'm not able to do it since every time i execute the command "Generate-R4mvc", it gets automatically removed. How can I make it permanent?
Thanks.

[2019-07-09 20:19] gmoneh opened #125 "Mixed C#/F# solution"
R4MVC does not work if the web project includes a reference to a project written in F#.
Loading the MSBuild workspace produces a message saying:

"Cannot open project 'xxx' because the file extension '.fsproj' is not associated with a language."

I know that the Roslyn compiler does not cover F#, but in this case, the F# code has little to do with the code generation that R4MVC needs to perform...

[2019-07-12 13:08] kevinkuszyk opened #126 "MyGet Renewal"
@artiomchi it's that time of year again.

Apologies - I missed their first email and our feed is now readonly.  I've sent the request in for a  renewal.  I'll update this issue when I hear back.

[2019-07-16 15:25] artiomchi commented on #126
Hi @kevinkuszyk

Thanks for taking care of this!

[2019-07-16 15:32] artiomchi commented on #125
Hmm.. That's an interesting point.

I guess the best solution in this case would be the ability to manually ignore specific errors, to allow the analysis to proceed. Depending on which error is ignored, the end results could not always be accurate, but it might also allow you to proceed in a situation like yours.

I'll see what I can do about it. Thanks for the interesting issue :)

[2019-07-16 15:35] artiomchi commented on #124
Hi @ceccacecca

Since static file handling is different in Asp.Net Core (all static files are stored in `wwwroot`, the `StaticFilesFolders` property is not supported in R4Mvc. This is why it gets automatically removed during each build

There is a `StaticFilesPath` property, which can be used to override the default static files path (which defaults to `wwwroot`).

You can see the supported proper

[2019-07-25 10:38] ceccacecca commented on #124
Hi @artiomchi , thanks for the answer.
Could you also show me an example of how to use it, please?

[2019-08-30 01:16] Shubham-Saini opened #128 "If a controller has an action method named "SignIn" then the Generate-R4MVC command does not work"
If a controller has an action method named "SignIn", then that method is not converted by this tool.
[code]
The method does not become virtual and the generated partial class has no reference to this method, however an interesting thing to point here is that, if I change the name of this method or even the case of the word "SignIn" it works as expected.
This test was done in .NET Core 2.0

[2019-09-01 02:34] Shubham-Saini opened #129 "Member names can not be the same as their enclosing type"
While generating code for script and static files:-
If the folder structure is as below:-
<pre>
popper.js
    -packages
        -test
        -test-utils
            -utils
</pre>

It generates 2 classes as follows:-
[code]
This issue was observed while working with popper.js library.
bower.json -
[code]

[2019-09-12 09:05] valeriob opened #130 "Reference to type 'RouteValueDictionary' claims it is defined in 'Microsoft.AspNetCore.Routing.Abstractions', but it could not be found"
Hi,
i'm testing netcore3.0 preview 9, and i think there is something to be done to make r4mvc compatible.

![image](https://user-images.githubusercontent.com/1522516/64770233-113e3b80-d54d-11e9-9694-423b2092fe7d.png)

[2019-09-22 14:41] valeriob commented on #130
Did you have time to test dotnet core 3.0 ? 😄

[2019-09-22 16:00] artiomchi commented on #130
Hey @valeriob

Yup, I just set up the beta version on my PC and am looking into this 😄

[2019-09-22 16:04] valeriob commented on #130
ah good, i found 15' to check it and i was about to push a pull request, i think we can drop the support for aspnetcore 1.0 to be honest, and push the framework version up to 4.7.2 that properly support netstandard2.0, everything before that is a mess :D

[2019-09-22 16:18] artiomchi commented on #130
The problem in this case is that they moved `RouteValueDictionary` from `Microsoft.AspNetCore.Routing.Abstractions` to `Microsoft.AspNetCore.Http.Abstractions` in the v3 assemblies.

I'm just checking if I can solve this with multitargetting, or a major version release with different references would be required :)
The annoying thing is that the new version isn't even on NuGet - it's only currentl

[2019-09-22 16:32] valeriob commented on #130
aspnet core 3.0 will not run on other framework than dotnet core 3.0, so i would go with this route, no need for nuget packages.
`  <ItemGroup Condition="'$(TargetFramework)'=='netcoreapp3.0'">
    <FrameworkReference Include="Microsoft.AspNetCore.App" />
  </ItemGroup>`

[2019-09-22 16:36] artiomchi commented on #130
Yup, I just realised that as well.. The reference libraries aren't even on their MyGet servers, but referencing the framework reference works well.

[2019-09-22 19:17] artiomchi commented on #130
The build server was failing to build this, even with the preview 2019 images :D

I made the build script install the latest .net core sdk before the build, which seems to have worked, but I can't upload the images to neither MyGet (the nupkg file is too big) or NuGet (the key is expired).

I'll ping Kevin to have the key sorted out :)

[2019-09-22 19:17] artiomchi commented on #126
Hi @kevinkuszyk

Could you sort out the NuGet publish keys when you get a moment, please? :)

[2019-09-22 19:18] valeriob commented on #130
awesome !

[2019-09-23 09:38] kevinkuszyk commented on #126
@artiomchi 09ed8f0 has the new nuget.org api keys.  If you rebase on that you should be able to push again.

Regarding myget - something has gone amiss with our open source licence.  I talking them to get it fixed.  In the meantime they are suggesting we delete some packages over there to bring us down under the 100MB storage limit.  If it's not blocking you at the moment, I think we should push b

[2019-09-23 10:04] artiomchi commented on #126
@kevinkuszyk  thanks for sorting this out :)

Umm, I pushed some commits yesterday and they failed to push the CI builds because of space issue on MyGet. It's not critical, I guess, just means we wouldn't get any new CI builds on MyGet. With each build taking 10MB at the moment, even if you deleted all the packages, it would still take < 10 builds to take up all the space, so I don't think it woul

[2019-09-24 06:20] valeriob commented on #126
We can just push it to nuget :D

[2019-09-26 15:44] rbsdotnet commented on #130
Hi,

What is the solution to this problem?

[2019-09-27 01:12] rbsdotnet commented on #130
Hi,

I received your project and made the following changes to the project
And it runs on .net core 3 without any problems

** These changes are for .net core 3 only **

1: R4Mvc
[R4Mvc.txt](https://github.com/T4MVC/R4MVC/files/3660435/R4Mvc.txt)
................................................................................................
2.R4Mvc.Tools
[R4Mvc.Tools.txt](https://github.com/T4MVC

[2019-09-27 13:31] valeriob commented on #126
Hi, is it possible to upload the package to nuget ?

[2019-09-27 13:59] kevinkuszyk commented on #126
@valeriob apologies, I'm a but out of the loop with what's happening over here.  Is the lack of myget blocking getting packages out to nuget? (I don't think we should publish ci builds there).

@artiomchi should we consider switching off myget until they have our licence sorted?  If yes, are you ok to make that change to the `appveyor.yml`?

[2019-09-27 14:05] valeriob commented on #126
Hi @kevinkuszyk thanks for helping, this package is blocking everyone using r4mvc to start testing netcore 3.0, i think we can push it to nuget since the change is very small, and allow ppl to start testing the framework.

[2019-09-27 14:20] kevinkuszyk commented on #126
@valeriob is there a build / commit / PR with this change in?

[2019-09-27 14:36] valeriob commented on #126
yes, see commit https://github.com/T4MVC/R4MVC/commit/70e72f08f1ef3edf490cf3964145cd268e72c174

[2019-09-29 10:00] artiomchi commented on #126
Hi,

I'm going to do a bit of cleaning of the code today, making sure it's
working well with .net core 3, merge the new PR, and will push to NuGet
within the next 12 hours

Sorry I didn't get a chance to do it earlier

On Fri, 27 Sep 2019, 15:36 Valeriob, <notifications@github.com> wrote:

[2019-09-29 11:46] mahdi-ataollahi commented on #130
URGENT HELP! Please fix it ASAP. I upgraded my project to .net core 3 and the only thing remained is R4MVC. Thanks!

Is there any temporarily solution?

[2019-09-29 18:09] artiomchi commented on #126
I've just pushed the new build to NuGet. The PR is a bit more work, so I thought I'd better push a working build and deal with the PR a bit later.

Regarding MyGet - @kevinkuszyk GitHub added a new feature - a built-in [package registry](https://github.com/features/package-registry). It's currently in early preview, but do you think you could request access to it for R4Mvc? I've just tested it on

[2019-09-29 18:11] artiomchi commented on #130
@valeriob @mahdi-ataollahi Sorry for the delay - I've pushed a new build to NuGet that has support for ASP.Net core - let me know if it works well for you, or if you're having any issues

[2019-09-29 18:11] #130 closed, assigned to artiomchi

[2019-09-29 19:16] rbsdotnet commented on #130
@artiomchi
Thanks for the quick release of the new version

[2019-09-30 09:00] kevinkuszyk commented on #126
@valeriob with that new version @artiomchi pushed, I guess that's you sorted now?

@artiomchi re. myget - they've asked me to apply for the open source licence again, which I've done this morning.

And re. the GitHub package registry.  I've signed us up for the beta, and we're on the waiting list.

[2019-09-30 09:56] valeriob commented on #126
Thanks ! should be fine !

[2019-09-30 19:44] rbsdotnet opened #131 "Ignor Controller Or Action"
Hi,

How to Ignor Controller Or Action to Generate?

[2019-09-30 20:04] artiomchi commented on #131
Hi @rbsdotnet

You can use the `[R4MVCExclude]` attribute on actions or controllers to exclude them from R4Mvc generation.

You can see examples in the sample projects:
https://github.com/T4MVC/R4MVC/blob/develop/samples/AspNetSimple/Controllers/TestsController.cs

[2019-09-30 20:04] #131 closed, assigned to nobody

[2019-10-07 17:00] btihanyi opened #132 "Code generation fails on ASP.NET Core 3.0"
I've tested the new release with an ASP.NET Core 3.0 project, but R4MVC throws an error while generating the code. I've also tested with the AspNetSimple.NetCore3 project, but with the same result. Then I checked the source code and found out that the `ReferencedAssemblyNames` do not contain the Microsoft.AspNetCore.Mvc reference, nor any similar values. So this code
[code]
will always assign `mvc

[2019-10-07 17:41] btihanyi opened #133 "Controllers are not processed properly on ASP.NET Core 3.0"
It seems that in an ASP.NET 3.0 project, controllers (and pages) are not generated properly. The problem is that MVC types like `BaseController` or `PageModel` are not recognized with different framework versions. However, changing the R4Mvc.Tools' TargetFramework to `netcoreapp3.0` would solve this issue.

[2019-10-09 13:36] artiomchi commented on #132
You must have a build error or something, because it detects the reference correctly on all my environments, as well as on the build server.

You can see the latest build log here: https://ci.appveyor.com/project/T4MVC/r4mvc

If you scroll down, you can find this extract:

[code]

Are you sure you have the 3.0 SDK installed, and not just the runtime on your machine?

[2019-10-09 13:37] artiomchi commented on #133
That's not the case in our build environments, as well as the build server. See my comment from #132, as I think it might be the same issue in both tickets that you opened - are you sure you have the SDK installed properly?

[2019-10-10 15:53] MABrunner opened #134 "Allow adding to list of #pragma warnings to suppress"
I like to use Microsoft.CodeAnalysis.FxCopAnalyzers to improve code quality.  I also like to set TreatWarningsAsErrors to true.  However, because of the code generated by R4MVC, I'm unable to do this.  Some of the namespaces imported into the generated code are unused, causing warnings, which become errors.

Of course it would be nice if we had the T4 template to customize like we did back in the

[2019-10-12 08:00] artiomchi commented on #134
I just started using the analyzers package in a couple of my own projects, so I can definitely understand your situation.

I'm going to add it to the R4Mvc package eventually, but in the meantime - making the generated code avoid any warnings would be great. And any help in the project is always greatly appreciated!

If you fork the project, and create a Pull Request, we can absolutely merge it to

[2019-10-13 02:35] MABrunner commented on #134
Awesome thanks!  I'll do that Monday.

[2019-10-14 19:23] #134 closed, assigned to nobody

[2019-10-15 09:16] romanreal89 commented on #79
Hi! Sorry but , I have tha same error.... with version v1.0.0-alpha2-00365
What can I do, to fix it?
Thank you!

[2019-10-16 15:28] btihanyi commented on #132
I have installed the full 3.0 SDK with the Visual Studio 2019, however I also have the 2017 version installed on my machine. I've figured out that the R4Mvc tool was using the old Visual Studio instance, but I've managed to specify the proper version via the `-vsi` command line argument. Now it seems to be working properly.

[2019-10-16 15:28] #132 closed, assigned to nobody

[2019-10-16 15:30] btihanyi commented on #133
It is working now as I specified the VS 2019 instance for the CLI tool.

[2019-10-16 15:30] #133 closed, assigned to nobody

[2019-10-16 15:59] btihanyi opened #136 "Add support for .razor extension"
Blazor uses the `.razor` extension instead of `.cshtml`. It is very similar to Razor Pages except a few differences like it can't have a model. I believe it would be easy to add support for this new extension.

[2019-10-21 08:23] kevinkuszyk commented on #126
@artiomchi we're back on the open source subscription over a myget now, so the CI packages should be getting published again.

We've also been approved for the GitHub package registry if you want to have a poke around with that.

I'm going to close this issue now, as the myget is sorted.  If you need a hand / want to discuss the GitHub package registry, let's do that on a new ticket.

[2019-10-21 08:23] #126 closed, assigned to kevinkuszyk

[2019-11-05 15:56] duncansmart opened #137 "Razor Pages: "Multiple handlers matched" error after r4mvc generate"
**TL;DR:** R4MVC generates overrides for handler methods that conflict with the "real" methods because Razor pages sees them as possible candidates. Therefore, R4MVC methods need to be attributed as `[NonHandler]` as well as `[NonAction]`

### Repro

- Add new new Razor Page that has a PageModel
- In the PageModel class add a Handler method that takes a parameter
[code]
- In the cshtml file add a

[2019-11-14 13:52] #137 closed, assigned to nobody

[2019-11-27 07:57] clement911 opened #140 "dotnet tool install -g r4mvc.tools.cli fails"
I was able to fix it by specifying a version:

`dotnet tool install -g --version 1.0.0-alpha2-00369 r4mvc.tools.cli`

Unless I missed something, this is not documented in the installation steps.

[2019-12-03 04:16] ghost opened #141 "Generate the URL for custom routing"
How to generate the below URL Routing

                routes.MapRoute(
                   name: "defaultId",
                   template: "{controller=Home}/{id?}/{action=Index}");

[2019-12-04 04:12] TorreyGarland commented on #79
Same error:

VS 2019 v 16.3.10

MVC Core 3.0 Project

[2019-12-09 08:51] vborioni-onit commented on #113
Hi,
what do we need to make it run other than on windows ?
I see that Microsoft.CodeAnalysis.Workspaces.MSBuild is compiled for netframework and netcore app since version 3, is it enough ?

[2019-12-12 05:39] romanreal89 opened #142 "Hi! Sorry but , I have tha same error.... with version v1.0.0-alpha2-00365"
Hi! Sorry but , I have tha same error.... with version v1.0.0-alpha2-00365
What can I do, to fix it?
Thank you!

_Originally posted by @romanreal89 in https://github.com/T4MVC/R4MVC/issues/79#issuecomment-542119158_

[2019-12-27 07:54] valeriob commented on #113
Hi @artiomchi do you think you can give some updated feedback on the subject ?

[2020-01-14 17:16] TorreyGarland opened #143 "Question: Is the project dead?"
Trying to use R4MVC for a Core 3.0+ project and it is still not working.

[2020-01-15 09:03] artiomchi commented on #143
Hey @TorreyGarland

Nope, not dead and definitely still alive! I maintain it in my free time, which is why it's moving a bit slow sometimes. Also GitHub sometimes stops sending me notifications about it, and I end up missing new issues (like this time)

I'm using it in both 2.2 and 3.1 projects without issue. Could you let me know which issue you're having, or is it the same as one of the existing

[2020-01-15 09:05] artiomchi commented on #142
I'll make a patch this week so that it outputs any errors in powershell mode. There's most likely a project build or dependency error, which is why it's erroring out

[2020-01-15 09:12] artiomchi commented on #141
Hi @VIJAYASHANKAR

The URLs will be generated by MVC based on the routes you have created automatically.

With R4Mvc youb request a URL for a specific controller, action with a number of route parameters - the MVC framework will pick the **first** matching route from the list of routes you created, and will use it to generate a URL.

But that's all just how MVC works, R4Mvc doesn't do anything in

[2020-01-15 09:12] #141 closed, assigned to nobody

[2020-01-15 09:30] artiomchi commented on #140
Hi @clement911

You're partially right - the [Installation](https://github.com/T4MVC/R4MVC/wiki/Installation) page on the wiki mentions the version parameter if you want to install a pre-release version. Unfortunately I haven't released a release one, and still marked them as pre-release, hence the error. I'm hoping to be able to do this soon. In the meantime, I'll update the documentation to be m

[2020-01-16 18:39] TorreyGarland commented on #143
Thanks for the response.  This has been reported at least two different times after the issue was initially closed.

https://github.com/T4MVC/R4MVC/issues/79#issuecomment-542119158

Thanks again.

[2020-01-19 00:16] artiomchi commented on #143
Indeed, looks like the same issue. Please follow the progress in #142 as it's the same issue. I just pushed a CI build (377) that should finally display proper error messages from the Powershell script

[2020-01-19 00:16] #143 closed, assigned to nobody

[2020-01-19 00:19] artiomchi commented on #142
Hi @romanreal89

I just pushed a CI build (377) that should finally display proper error messages from the Powershell script. Hopefully this will shed some light on why it's failing to generate the files in your project.

Please note that this is a CI build, so you will have to pull it from the CI repo (see instructions [here](https://github.com/T4MVC/R4MVC/wiki/CI-Builds)) and restart Visual Stud

[2020-01-19 00:20] #140 closed, assigned to nobody

[2020-02-18 04:31] romanreal89 commented on #142
Hi, @artiomchi !
Thank you, but I didn't see this build. Last build is 369.

[2020-02-27 14:55] valeriob commented on #113
Hi @artiomchi i just tested it in linux and it works, it just needs to remove the constraint :D can you pls help me with that ?
I tested with a custom build of r4mvc.tool targeting netcoreapp3.1

![image](https://user-images.githubusercontent.com/1522516/75455138-2df1f280-5978-11ea-80f2-edcd9a904812.png)

[2020-03-25 21:47] rbsdotnet opened #144 "Error with Generated in user Area"
The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: System.Management.Automation.RemoteException

When Add Area Attribute Show Error?????!!!!!!!!!

[2020-03-27 07:45] valeriob commented on #113
hi @artiomchi i hope you are all right, would you mind to give me an hand on this topic ? i think it will just work, but i do not know how the boilerplate to run the tool works :(

[2020-04-02 17:52] gpattersonclearwave opened #145 "Add "-vsi" parameter to Generate-R4MVC command"
I have multiple instances of VS installed (2017, 2019) and I am experiencing the same issue as described in #132 and it looks like the resolution is to specify the visual studio instance being used by the underlying application with the `-vsi` parameter. The PowerShell wrapper command `Generate-R4MVC` does not expose a parameter to pass this through. This forces me to do some jumping around to get

[2020-04-02 17:53] gpattersonclearwave commented on #145
Accidentally clicked on the close button, sorry. Reopening.

[2020-04-02 21:19] gpattersonclearwave commented on #145
I wanted to share my workaround build target for anyone else who stumbles on this.

1. Add `GeneratePathProperty="true"` to the `R4Mvc.Tools` package reference
2. Get the list of instances by running `R4Mvc.Tools.exe vsinstances`, then append the build task to your csproj:

[code]

[2020-04-28 10:14] btihanyi opened #147 "[Bind(Prefix = "...")] attribute shoud rewrite route parameter names"
The `[BindAttribute]` is a strange but useful way to "rename" action parameter names. If its `Prefix` property is set, the routing system will use that name instead of the method's variable name. So if I write this:
[code]
Then the common `"{controller=Home}/{action=Index}/{id?}"` will match this action method.

I know this is not a common scenario, but I've used a lot in our MVC project, so this

[2020-05-20 03:25] rbsdotnet opened #149 "Net Core 3.1 Supported?"
When Use Net Core 3.1 Problom

Not Found ViewComponent

[2020-05-20 12:52] MohammadMokhtarii opened #150 "Not Compatible With .Net Core 3.1"
hi

is there any plan to migrate The project to .NET CORE 3.1?

[2020-05-23 08:28] cesarsouza commented on #93
@artiomchi

Any plans to remove this restriction? My project contains nested feature folders so they can reuse a nested "Shared" folder for views/partials related to only a subset of the features/controllers.

What changes would need to be done to make this possible? Maybe make https://github.com/T4MVC/R4MVC/blob/f89ff3cb3b2e8725c8670ff1d753adfe05af80c3/src/R4Mvc.Tools/Locators/DefaultRazorViewLoc

[2020-05-23 08:31] cesarsouza commented on #93
Or maybe the ``"FeaturesPath": "Features"`` could be updated to support globbing patterns.

[2020-05-23 08:38] cesarsouza commented on #93
Hmmm.... Funny thing is, it actually works when generating code for the controllers in nested feature folders, it just doesn't work for the views/partial views.

[2020-05-23 08:47] cesarsouza commented on #93
I haven't tried to debug R4MVC yet, and I am not completely sure this is related to the issue yet, but by looking at the source code, apparently the generator relies on the folder names rather than on the actual MVC convention of looking for folders ending in "Controller" to determine the controller path:

https://github.com/T4MVC/R4MVC/blob/develop/src/R4Mvc.Tools/Locators/DefaultRazorViewLocator

[2020-05-23 10:51] cesarsouza commented on #93
Ok, nevermind, While MVC looks for controllers based on the class name ending, views are not restricted to be contained within folders with controller names.

Here are the changes needed to support nested feature folders (plus fixing a typo): https://github.com/cesarsouza/R4MVC/commit/66ef425e3660db67411dea7928cf6acce0d57438

I have also added a new sample application for testing here: https://git

[2020-05-23 12:28] valeriob commented on #93
The feature folder concept means that all the assets used in that feature are derived from the controller/action they are used in. I made a pull request 2 years ago to discover views starting from the controller https://github.com/T4MVC/R4MVC/pull/91 this allows to put your controller wherever you want, and punt in the same folder all the assets it needs.

[2020-05-23 13:50] artiomchi commented on #93
@cesarsouza The issue is, MVC has it's own rules for looking up the views.

For example, in your nested feature folder project, if I try to load the NestedCalculator I get an error, since the view is not found in any of the expected paths:
![image](https://user-images.githubusercontent.com/822898/82732314-5c2b6800-9d04-11ea-8433-4325c07c9b4a.png)

At which to fix this, you'd have to always specify

[2020-05-23 13:58] artiomchi commented on #149
Hi @rbsdotnet @mmokhtari

Could you provide some more details?

As far as I know, there shouldn't be any problems with R4Mvc and .NET Core 3.1, and it should be working well.

Also, do you have multiple versions of Visual Studio installed on your computer?

[2020-05-23 13:58] artiomchi commented on #150
Closing as duplicate of #149

[2020-05-23 13:58] #150 closed, assigned to nobody

[2020-05-23 14:57] cesarsouza commented on #93
Hi @artiomchi,

Oops! Yes, indeed, I was testing the modifications directly in my main project and completely forgot to add the view expanders to the sample application! 😁

I am using view expanders similar to the ones used in the [OdeToCode.AddFeatureFolders](https://github.com/OdeToCode/AddFeatureFolders) library. By the way, if you look at Scott Allen's blog you can find [another use-case examp

[2020-05-23 15:10] cesarsouza commented on #93
Just added. The changes can be seen here: https://github.com/cesarsouza/R4MVC/commit/eaa6530b0d4e388f9ca59114e25c98a9b7c3b46e

[2020-05-23 16:03] MohammadMokhtarii commented on #149
My Problem is Solved Tanx

[2020-05-29 17:32] MohammadMokhtarii opened #151 "AmbiguousMatchException"
when Im Using Generate-R4MVC  I found out it doesnt Generate mirror class for some action in  one of my project class and i got AmbiguousMatchException
![Capture](https://user-images.githubusercontent.com/47662852/83287941-d0c84000-a1f7-11ea-9a46-12b278aff213.PNG)

![Capture](https://user-images.githubusercontent.com/47662852/83288013-ee95a500-a1f7-11ea-87fb-715bb790a805.PNG)
![Capture](https://us

[2020-05-29 17:41] MohammadMokhtarii commented on #128
have same Issue
Do You Found Out The Solution/??
@Shubham-Saini
@BrianSchroer
@davidebbo

[2020-05-30 04:21] Shubham-Saini commented on #128
Yes I did, as it turns out there is already a method named "SignIn". I
can't remember in which class exactly, which causes this behavior. A simple
fix was just to change the method name. As I recall I changed it to
"Signin" and it worked perfectly after that.

On Fri, May 29, 2020, 11:42 AM Mohammad Mokhtari <notifications@github.com>
wrote:

[2020-05-30 11:45] btihanyi commented on #128
The problem is that the _SingIn_ name is [used by](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.controllerbase.signin) the `ControllerBase` ancestor class. The R4MVC tool [skips all the action methods](https://github.com/T4MVC/R4MVC/blob/develop/src/R4Mvc.Tools/Extensions/SyntaxNodeHelpers.cs#L88) which names are the same (case-sensitively) as one of their ancestor classes.

[2020-06-17 12:23] MarkFl12 opened #152 "Controller action named Created does not generate."
If I have an action on my controller called Created then I won't get anything generated for it by R4MVC.

[2020-06-17 12:23] MarkFl12 commented on #152
I suspect this is because there's a Created method on the Controller class for use in returning a Created status code result.

[2020-06-18 10:14] btihanyi commented on #152
Yes this is because the same issue as [#128](https://github.com/T4MVC/R4MVC/issues/128#issuecomment-636319651).

[2020-07-30 12:13] IanKemp opened #153 "When will R4MVC move to non-alpha status?"
I'd like to use this project in my workplace, but corporate rules prohibit the use of "alpha" or "beta" NuGet packages.

Since this project has been in alpha for 6+ years at this point, but seemingly is being successfully used by thousands (as per NuGet package download count), isn't it time to just bite the bullet and release a version 1.0.0 stable and go from there?

[2020-07-30 12:50] IanKemp commented on #142
It's worse with the CI build (even less output, LOL):

[code]

Running the command manually (i.e. via `.\R4Mvc.Tools.exe generate -p "<path\to\removed>.csproj"`) does yield output (see #154).

The reason is the `$ErrorActionPreference = 'Stop'` at the top of `R4MVC.psm1`. `Stop` means PS will **immediately terminate the script on any error**, which means the `catch` block is never entered (see htt

[2020-07-30 12:58] IanKemp commented on #142
Running the command manually yields output:

[code]

[2020-07-30 13:07] IanKemp opened #154 "Generation fails for read-only controllers"
[code]

It seems like the tool is trying to write to my controller's .cs file to mark it as `partial`, which fails because said file is read-only (we are sadly using TFS for version control, it checks out all files as read-only). `FilePersistService` should probably be updated to handle this read-only case.

[2020-07-30 13:45] IanKemp commented on #153
OK, after actually trying to use this, I see why it's still alpha. The most important parts (end-user experience and automatic pre-build integration) are still woefully inadequate, I'd strongly suggest the project concentrate on getting those to an acceptable level, then release a 1.0.0-final.

[2020-07-30 13:45] #153 closed, assigned to nobody

[2020-08-10 18:25] busybycrazyness opened #155 "R4mvc doesn't generate actions of type ViewResult, PartialViewResult correctly."
R4mvc doesn't generate actions of type ViewResult, PartialViewResult, FileStreamResult correctly,
Or am i missing something?
it will work fine if I create this
internal partial class R4Mvc_Microsoft_AspNetCore_Mvc_ViewResult: ViewResult ... and set it to generated action, but every time i run Generate-R4mvc
I got so much errors,
with version: 1.0.0-alpha2-00369
![Untitled](https://user-images.gith

[2020-11-11 10:00] morerokk opened #156 "Generation fails on msbuild warning"
`r4mvc generate` seems to fail on compiler warnings, such as harmless NuGet warnings. Is there a way to turn this behavior off? I don't want to ignore the warnings project-wide completely.

[2020-11-23 10:06] MarkFl12 opened #157 "ActionNameAtttribute is not supported"
If you override the name of one of your actions with
`[ActionName("NewName")]`
This isn't reflected in the links that are generated.

[2020-12-09 11:40] valeriob commented on #156
+1

[2021-02-05 16:09] TorreyGarland commented on #156
exact same here.  failure to generate with no build errors, only nuget package warnings.

[2021-04-13 08:09] aborja79 commented on #151
I have same problem.
Any solution to this issue?

[2021-05-15 22:10] dharmatech opened #159 "Video demo of R4MVC tag helpers"
Here's a video demonstrating R4MVC tag helpers in a Razor Pages project in .NET 5:

https://youtu.be/cFD9QOjEIxc

Amazing project guys!

[2021-05-26 14:19] ceccacecca opened #160 "C#9 target-type new incompatibility"
Hi, I've just ran into an issue after using a new functionality specified by the new C#9 version.
The functionality is the **target-type new** expression, which allows you to initialize a variable in this way:
`ViewModel model = new();`

When using this notation, the whole area of the controller does not get generated and gives error.

Thanks.

[2021-06-09 15:04] rbsdotnet opened #161 "Error in New Visual Studio Version"
PM> Generate-R4MVC
  R4Mvc Generator Tool v1.0.0-alpha2-00369

Using: Visual Studio Enterprise 2019 - 16.10.31402.337
Project: WebApp.csproj

Creating Workspace ...
Loading project ...
The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop:   Failure: Msbuild failed when processing the file 'E:\Workspaces\WebApp.csproj' with message:

[2021-06-14 10:44] valeriob commented on #161
Here is the fix : https://github.com/T4MVC/R4MVC/pull/162
@artiomchi can you publish a new version pls ?

[2021-06-14 11:13] rbsdotnet commented on #161
@valeriob
Thanks for fixing the error.

@artiomchi  Please Release a New Version!!!

[2021-06-21 19:48] jkatsiotis commented on #161
+1 on this one from me.

//cc @artiomchi

[2021-06-21 22:44] metafab commented on #161
This error does not come from R4MVC. It can be solved by updating the _MSBuildSDKsPath_ environment variable so that it points to the new SDK that was installed with the Visual Studio update. The value must be something like _C:\Program Files\dotnet\sdk\5.0.301\Sdks_.

[2021-06-22 19:55] ignatandrei opened #163 "Real Roslyn Source Code Generator ?"
What about making a Roslyn Source Code Generator , like in https://github.com/dotnet/roslyn/blob/main/docs/features/source-generators.md  ?

[2021-06-22 22:10] rbsdotnet commented on #161
@metafab
**Thanks for the tips
The problem was solved using your solution**

[2021-07-11 18:59] artiomchi commented on #147
The PR was merged, with a couple adjustments, and will try to get a release soon

[2021-07-11 20:03] #147 closed, assigned to nobody

[2021-07-11 20:04] artiomchi commented on #161
New library build was pushed live! Sorry for the delay :)

[2021-07-11 20:04] #161 closed, assigned to nobody

[2021-07-12 07:45] artiomchi commented on #160
I just released a new build yesterday that supports the latest version of Visual Studio, and it should now support this notation

[2021-07-12 07:45] #160 closed, assigned to nobody

[2021-07-12 09:05] artiomchi commented on #159
Hey @dharmatech,

Thanks a lot for your support of the project! It's always great to see people using it, and especially sharing it with others!

The video you linked (I'm assuming it's yours, based on the name on the channel) is great, and I loved that you used the new dotnet tool option!

I'm going to put the link to that in the Readme in this repo, if you don't mind :)

[2021-07-13 03:52] dharmatech commented on #159
Feel free! 😁👍

[2021-07-13 23:18] gmoneh opened #164 "Failure when controller contains several action methods with the same name"
If a controller contains several action methods with the same name, the generated code contains ambiguous definitions:

Example:

Have a controller that contains two EditOrderAddress action methods. The generated code is:

        [GeneratedCode("R4Mvc", "1.0")]
        static readonly ActionParamsClass_EditOrderAddress s_EditOrderAddressParams = new ActionParamsClass_EditOrderAddress();
        [

[2021-08-05 12:19] mazycz commented on #164
Same for me, when code looks like this

[HttpGet]
public virtual IActionResult ActionName(string mdl)
{
    // some code
}

[HttpPost]
public virtual IActionResult ActionName(string mdl2)
{
    // some code
}

[2021-08-09 19:29] dchaib commented on #164
I believe this has been caused by #139.

If you don't need this new feature, you can disable it in the settings, by setting `GenerateParamsForActionMethods` to `false`. It did the trick for me.

[2021-08-09 19:39] mazycz commented on #164
It Works!
Thank you.

[2021-08-19 11:25] jkatsiotis opened #165 "Public, static methods in a controller are being marked as virtual during generation"
Public, static methods inside a controller should be ignored during generation

[2021-11-18 00:01] rbsdotnet opened #167 "Not Deteted Partial and RazorLayout"
Hi,
When use R4MVC in Razor Page Not Detected Partial and Razor Layout

Can you help me?

[2022-02-02 19:33] mmoore99 opened #168 "Issue deleted"
Post deleted

[2022-02-02 20:34] mmoore99 opened #169 "Is R4MVC supposed to work with .Net6?"
I am upgrading a project from .Net5 to .Net6. After doing the upgrade the generated output from R4MVC is significantly different under .Net6. I have included links to each of the generated code files below.

Is R4MVC supposed to work under .Net6?

A link to the .Net5 generated code is [here](https://www.dropbox.com/s/33dub3patc83kkv/Net5.R4MVC.generated.cs?dl=0).

A link to the .Net6 generated cod

[2022-02-02 21:07] mmoore99 commented on #169
Upon further review it appears that the problem referenced in the original post resulted from changing the controllers to use "file scoped namespaces." When I changed the controllers back to "block scoped namespaces" R4MVC generated the same code as what was generated in .Net5.

[2022-02-05 12:24] MarkFl12 commented on #169
I also had issues after converting my controllers to file scoped namespaces that were fixed when I converted them back to block scoped. Should we file this as a new bug report or will here be ok?

[2022-03-23 12:02] MarkFl12 commented on #164
Just to confirm I'm still having this issue preventing me from using `GenerateParamsForActionMethods` in my project. Considering the Microsoft docs push you into naming your form submission POST controller action as an overload of the GET, this is rather a blocker to the feature being useful.

[2022-04-27 23:00] rbsdotnet opened #170 "Not Generated Controller Action in New Visual Studeio Version 17.1.6"
Hi,

When Update Visual Studeio To Version 17.1.6 , Not Generated Any Action in Controllers in the Area.

R4Mvc Generator Tool v1.0.0-alpha2-00395
Using: Visual Studio Enterprise 2022 - 17.1.32421.90

Creating Workspace ...
Loading project ...
Compiling project ...
Detected MVC version: 6.0.0.0

Processing controller SamanArya.UHIS.WebApplication.Areas.Panel.Controllers.DashboardController

`Unhan

[2022-08-15 01:34] rbsdotnet opened #172 "Error When Generate R4MVC"
Hi

Please Help Me!!!!!

  R4Mvc Generator Tool v1.0.0-alpha2-00395

Using: Visual Studio Enterprise 2022 - 17.3.32804.467
Project: E:\Workspaces\SamanArya\UnifiedHealthInformationSystem\SamanArya.UHIS.Module.Pharmacy\SamanArya.UHIS.Module.Pharmacy.csproj

Creating Workspace ...
Loading project ...
  Failure: Msbuild failed when processing the file 'E:\Workspaces\SamanArya\UnifiedHealthInformation

[2022-08-15 15:09] JackGilmore commented on #172
This appears to be related to the latest Visual Studio update that has also updated MSBuild. In the MSBuild update it appears that System.Memory was updated (https://github.com/dotnet/msbuild/pull/7680) which is possibly causing this issue as seen in some other projects:
https://github.com/microsoft/nodejstools/issues/2407
https://github.com/unoplatform/uno/issues/9297

I cloned the R4MVC repo and

[2022-08-15 22:46] rbsdotnet commented on #172
Thanks a lot for the help @JackGilmore

Is it possible to publish the new version?

[2022-08-16 10:23] JackGilmore commented on #172
I'm not the project maintainer so I can't publish a new version to nuget. I'm happy to open a pull request with the required changes though. I'm not sure how likely it is that it'll get merged though as the last commit in the project was over a year ago and there are already pending pull requests 😐

[2022-08-16 13:06] JackGilmore commented on #172
I've opened a PR for this: #173

[2022-08-16 13:56] rbsdotnet commented on #172
Dear friend
You can manually generate the nuget from the project and send it to me because I urgently need this nuget.

[2022-08-16 18:28] JackGilmore commented on #172
Hi @rbsdotnet. I don't have the time or knowledge to generate the nuget package but please feel free to generate it from my fork if you need to use it: https://github.com/JackGilmore/R4MVC

[2022-08-26 07:42] Arjanvanmaren opened #174 "Could not load SDK resolver"
Im using visual studio 2022 and a dotnet 6 project. I don't know why it is throwing the following error as the project seems to build in vs

.\r4mvc.exe :   Failure: Msbuild failed when processing the file 'C:\wsgit\project\project\project.csproj' with message: Could not load SDK Resolver. A manifest file
 exists, but the path to the SDK Resolver DLL file could not be found. Manifest file path 'C:

[2022-08-26 08:16] Arjanvanmaren commented on #174
I found the solution already. You need to open visual studio installer and select nuget as extra packages.

[2022-08-26 08:16] #174 closed, assigned to nobody

[2022-09-02 07:18] PouryaMontakhab opened #175 "How to run Generate-R4MVC in visual studio on mac?"
Hi.
I'm using Visual Studio 2022 on mac and I want to use this command to generate a new controller with its actions that had been created recently. Unfortunately, As far as you know there is not a package manager console on Visual Studio for mac. I want to know how can I use this command now.

[2022-09-02 10:57] PouryaMontakhab opened #176 "Compatibility issue."
Does it compatible with .Net 6?
I just updated my project and it does not work.

[2022-09-05 09:54] MatthewSteeples commented on #176
Works for us with .NET 6

[2022-11-03 15:57] valeriob commented on #145
+1 to this, is very much needed with the fragmentation of dotnet versions.